/* ===================================

Template Name : Noon ui kit
Author: Bootstrapthemes

Author link :bootstrapthemes.co
======================================



 */


/*General*/

html {
	width: 100%;
	overflow-x: hidden;
}

body {
	color: #767676;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	font-size:15px;
}


# bs-example-navbar-collapse-1{
	display: inline;
}
/*==========================================
PRE LOADER
==========================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
.top-margin {
	margin-top: 96px;
}
.bottom-margin {
	margin-bottom: 96px;
}

p {
	font: normal 16px "Myriad Pro", arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 { color: #767676;}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
	line-height: 38px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	margin: 0;
}

h3 {
	font-size: 30px;
	line-height: 32px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
	margin: 0;
}


h4 {
	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
	}

h5 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}

h6 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	font-family: "Myriad Pro" , sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}

a:hover{
	text-decoration:none;
}
.btn {
	border: 1px solid #fff;
	display: inline-block;
	min-width: 160px;
	padding: .9em;
	height: 50px;
	text-align: center;
	color: #fff;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
	font-size: 16px;
	font-weight: 300;
}
.btn:hover {
	background-color: #BD9E6F;
	color: #fff;
	text-decoration: none;
}

.pink-btn {
	background: #e0356e;
	border: none;
	margin-left: 10px;
}

.pink-btn:hover {

	background-color: #f79b23;
	color: #fff;
	text-decoration: none;
}

.scrolldown {
	padding-top: 24px;
}

.banner .scroll_btn {
	background: url(../images/scroll.gif) 50% 50% no-repeat rgba(215, 181 ,94, 0);
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	height: 45px;
	margin: 42px auto;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
	-0-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
	width: 45px;
	position:absolute;
	left:28%;
	bottom:0;
}

.banner .scroll_btn:hover {
	background: url(../images/scroll.gif) 50% 50% no-repeat #BD9E6F;
	opacity: .85;
	-moz-opacity: .85;
	-o-opacity: .85;
	-webkit-opacity: .85;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);

}



/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
	z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background: linear-gradient(45deg, #0a3c8ed1, #7f4cd080);
    /* opacity: 0.6;
	color:#ffd600; */
	height:80px;
	z-index:9999;


}
.menu-scroll .navbar-default .navbar-nav>li>a {
    color: #fff;
}
.menu-scroll a.logo img{
	color:#fff;
	opacity:1;
	position:relative;
	z-index:999;
}
.menu-scroll a.logo img:hover{
	color:#fff;
	opacity:10;
}

.main_menu_bg{

}
.main_menu_bg .navbar-default {
    background-color: transparent;
    border-color: transparent;
	transition:.6s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:#bd9e6f;
}
.class-padding-navbar {
	padding: 0;
}
.main_menu_bg .navbar {
    margin-bottom:0px;
}
.container-fluid {
    margin-top: 15px;
}
.navbar {
    min-height: 80px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    text-transform: uppercase;
}
.nave_menu{
	width:100%;
}

.navbar-header{
	width:100%;
}

.montse2{
	width: 100%;
}

.link-nav{
	color:white;
	font-size: 18px;
	margin-left: 20px;
}

/* Banner section */

.banner{
	background:url(../images/bannerbg.jpg) no-repeat;
	position:relative;
}
.main_banner_area{
	padding-top: 150px;
}
.single_banner{}
.single_banner_text{
	margin-top:35%;
}
.single_banner_text h2{
	color:#fff;
	margin-bottom:20px;
}
.single_banner_text p{
	color:#fff;
}

.apps_downlod {
	margin-top:45px;
}
.apps_downlod a:hover{
	opacity:.8;
}



/* about section */


.abouts_content{
	padding:120px 0px;
	overflow:hidden;
}
.single_abouts_img{}
.single_abouts_text{
	margin-top:40%;
}
.single_abouts_text h2{
	margin-bottom:20px;
}
/* Feature section */
.features{
	background:#F8F9FB;
}
.main_features{
	padding:120px 0px;
	overflow:hidden;
}
.single_features_text{
	margin-top:35%;
}



/* works Section */


.main_works{
	padding:120px 0px;
	overflow:hidden;
}

.single_works{
    width: 70%;
    margin: auto;
}

.single_works_deatels{
	margin-top:20%;
}

.single_works_deatels i{
    color: #BD9E6F;
    font-size: 40px;
    margin-bottom: 10px;
    display: inline-block;

}
.single_works_deatels h5{
	margin-top:10px;
	margin-bottom:20px;
}
.single_works_deatels p{}


/* Video Section */
.head_title h2{
	margin-bottom:25px;
}
.head_title p{
	width:100%%;
	color:#abacae;
	margin:0 auto;
	font-size: 1.5em;
}

.video_area{
	background:#F8F9FB;
}
.main_video_content{
	padding:100px 0px;
	overflow:hidden;
}
.icon_area{
	background:#000;
	width:60%;
	margin:0 auto;
	padding: 15% 0%;
	margin-top:30px;
	margin-bottom:30px;
}

/* Clients Section */
.main_clients_content{
	padding:100px 0px;
	overflow:hidden;
}
.main_clients{}
.single_clients{
	margin-top:40px;
	display:inline-block;
}
.single_clients p{
	color:#abacae;
	font-size:14px;

}

.clients_details{
	width:100%;
	margin-top:30px;
}
.clients_details .clients_img{
    width: 13%;
    display: inline-block;
    float: left;



}
.clients_details .clients_name{
    width: 80%;
    display: inline-block;
    float: left;
    padding-top: 2px;
}
.clients_name p{
	margin:0;
}
.clients_name p span{
	font-size:11px;
}

/* Customaize Section */
.customiz{
	background:#F8F9FB;
}
.main_customiz{
    background: url(../images/customiziphone.png) no-repeat bottom left;
    height: 460px;
    margin-top: 100px;
		width: 100%;
}

/* Join Section */

.main_joine_content{
	padding:120px 0px ;
}

.main_joine_content .main_joinus{
	margin-top:50px;
	margin-left:-10px;
}
.main_joine_content .head_title h2{
	color:#7464e4;
}
.main_joine_content .main_joinus a{
    border: 1px solid #ABACAE;
    padding: 10px 20px;
    text-align: center;
    color: #ABACAE;
    background: #F8F9FB;
    border-radius: 20px;
    width: 18%;
    display: inline-block;
    margin-left: 10px;
	transition:.6s;
}
.main_joine_content .main_joinus a i{
	color: #ABACAE;
    margin-right: 10px;
    font-size: 22px;
	transition:.6s;
}
i, i:hover{
	color:#fafafb;
}
.main_joine_content .main_joinus a:hover{
	color:#bd9e6f;
	border-color:#bd9e6f;
}
.main_joine_content .main_joinus a:hover i{
	color:#bd9e6f;
}

/* footer Section */

.footerMon{
	height: 6em;
	position: relative;
	background: linear-gradient(45deg, #084fc3, #8242e8);
  padding: 0px 0px 0px 0px;
}


.single_footer .form-control {
    font-size: 14px;
    border: 0px solid #ccc;
    border-radius: 4px 0px 0px 4px;
	width:75%;
	display:inline-block;
}
.single_footer .submit_btn{
    background: #814be7;
    border: 0px solid #0c4ec4;
    color: #fff;
    padding: 5px 10px;
    margin-left: -40px;
    border-radius: 0px 4px 4px 0px;
    height: 34px;
    outline: none;
    font-size: 13px;

}
.footer .single_footer p{
	display: inline-block;
    font-size: 11px;
    padding-left: 10px;
}
.footer_menu{
	color: #fff;
	margin-top: 10px;
}
.footer_menu ul li{
	display:inline-block;
}
.footer_menu ul li a{
    display: block;
    color: #abacae;
    font-size: 12px;
    padding: 5px;
}
.footer_menu ul li:hover a{
    color:#bd9e6f;
}


.footerPMon {
	width: 80%;
	font-size: 15px;
	color: #fff;
	margin-top: 20px;

}
.footer_socail{
	padding:5px;
}





/* scrollup */

.scrollup{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: .3;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #BD9E6F;
	opacity: 1;
}

.scrollup i {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;

}


.buttonSignUp{
	text-align: center;
	margin-left: 100px;
	width: 40%;
	font-size: 25px;
	color: white;
	background: linear-gradient(45deg,#0a3c8ed1,#7f4cd0e8);
	border: 2px ;
  border-radius: 10px;
}



.montse1 {
	flex-direction : row !important;
	padding-top: 20px;
	color:white !important;
}

.iconfooterklugger {
	color:white;
	padding-left: 10px;
	font-size:25px;
}

.link-footer{
	color:white;
	padding-left: 25px;
}

.pendientsizegif{
	padding-top: 40%;
}
