.Modal{
}


.p-signupHandler{
  color: white;
  width: 80%;
  padding: 20px;
  height: 20%;
  font-size: 20px;
  display: block;
  position: relative;
  margin: 0 auto;
}

.message-subscribe{
  height:20px;
  color:black;
  font-size: 18px;
}

.close-button{
  font-size: 30px;
  float: right;
  margin-right: 15px;
}

.close-button:hover{
  cursor:pointer;
}





.input-modal-signup {
    width: 80%;
    margin: 1px;
    height: 20%;
    color: black;
    border-radius: 8px;
}


.button-modal-signup {
    width: 80%;
    margin: 1px;
    height: 20%;
    color: white;
    border-radius: 8px;
    background: #7f4cd080;
}





@media (max-width: 500px) {
    .p-signupHandler {
      font-size: 15px;
    }

}
