@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
* {margin: 0; padding: 0;}
body{background: white;
	-webkit-font-smoothing: subpixel-antialiased;
}
a {text-decoration: none; outline: none; cursor: pointer; @include transition(0.3s);
	@include hovers {text-decoration: none !important; outline: none;}
}
main{width: 100%;}
section{width: 100%;position: unset;}
.container{
  width: 100%;
}
.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 40px; line-height: 1; color: red; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev:before { content: "‹" !important; }
[dir="rtl"] .slick-prev:before { content: "›"!important;}

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"!important; }
[dir="rtl"] .slick-next:before { content: "‹"!important; }
.slick-next:before, .slick-prev:before{
  color: black !important;
}
.slick-next:before, .slick-prev:before{
  font-size: 94px !important;
}
.slick-next {
    right: 21px !important;
}
.slick-prev {
    left: 16px !important;
    z-index: 999;
}
.slick-next, .slick-prev{
    top:33% !important;
}
.slick-dots{
  top:28em !important;
}
.slick-slide{
  img:nth-child(1){
    width: 62%;
    position: absolute;
    margin-left: 1.4em;
    top:7em;
  }
}
.slick-track {
    padding-left: 3em;
    height: 15em !important;
}
.slick-slider{
  top: -5em;
	margin-left: 0 auto;
	@include tablet{display: none !important;};
}
.slider-2 .slick-slide p{
	left: 0 !important;width: 15em !important;text-align: center;position: relative;height: 1.5em;
}
.slick-list, .slick-slider, .slick-track{

  @include deskNormal {display: none !important;}
  @include deskGrande {display: none !important;}
  @include deskExGrande {display: none !important;}
}
.slider-2{position: relative;width: 17em;height: 28em;margin: 0 auto;
	@include tablet {display: none}
	@include deskNormal {display: none;}
	@include deskExGrande {display: none;}
	.slick-dots{display: none !important;}
	.h4{left: 2.7em !important;}
	.slick-slide{left: -1em;
		img:nth-child(1){margin: 1.7em;position: relative;top: 6em;left: -0.8em;}
		p{position: relative;top: 5.4em;font-size: 0.8em;left: -2em;width: 12em;}
	}
}


.home{
  background-repeat:no-repeat;position: relative;height: 19em; width: 100%; background-size: cover;background-image: url("../sass/image/fondo1_phone.png");
  @include tablet {height: 25em;background-image: url("../sass/image/fondo1_desk.png"); background-size: cover;}
  @include deskNormal {height: 43em;}
  @include deskGrande {height: 53em;}
  @include deskExGrande {height: 61em;}
	.div-home{@include deskNormal{width: 67em;margin:0 auto; position: relative;top: 3em;};
		@include deskGrande{width: 91em;};
		@include deskExGrande{width: 96em;};
		img:nth-child(1){
			position: relative;width: 48%;left: 9em;top: 6em;
			@include tablet {width: 44%;left: 22em;position: absolute;top: 5em;}
			@include deskNormal {width: 47%;left: 36em;top: 8em;position: relative;}
			@include deskGrande {width: 39%;left: 46em;}
			@include deskExGrande {width: 40%;left: 53em;top: 14em;}
		}
	}

  img:nth-child(2){
    position: relative;
    width: 16em;top: 3em;left: 5em;
    @include tablet {width: 20em;position: relative;left: 22em;top: 3em;}
    @include deskNormal {width: 30em;left: 39em;top: 6em;}
    @include deskGrande {width: 37em;left: 47em;}
    @include deskExGrande {width: 42em;left: 52em;top: 7em;}
  }
  img:nth-child(3){
    position: absolute;
    width: 98%;
    padding: 94% 0 0 63%;
    @include tablet {width: 76%; padding: 44% 0 0 57%;position: absolute;}
  }
  div{
    width: 23em;position: relative;margin:0 auto;
		@include tablet{width: 44em;};
    p:nth-child(1){
      font-family: $nexa;
      font-size: 2.2em !important;
			top: -2em !important;
			left: 0em !important;
    }
  }
  section{
    width: 10em !important;top: 19em;position: absolute;left: 1.3em;
    @include tablet {top:17em;position: absolute;left: 6em;}
    @include deskNormal {top: 27em;left: 10em;}
    @include deskGrande {left: 15em;top: 29em;}
    @include deskExGrande {top: 35em;}
    p:nth-child(1){
      font-family: $nexa;
      font-weight: bold;
      font-size: 2.5em;
      @include tablet {font-size: 3.7em;}
      @include deskNormal {font-size: 6em !important;top: -1.5em !important;}
      @include deskGrande {font-size: 7.8em;}
    }
    p:nth-child(2){
      font-family: 'Open Sans', sans-serif;
      background-color: #797979;
      width: 22em;
      font-size: 0.6em;
      color: white;
      margin-top: -2em;
      padding-left: 6%;
      @include tablet {font-size: 0.7em;width: 22em;}
      @include deskNormal {font-size: 13.66pt;margin-top: -1.5em;padding-left: 1%;position: absolute;width: 22em;}
      @include deskGrande {font-size: 1.5em;width: 21em;}
    }
    p:nth-child(3){
      font-family: 'Open Sans', sans-serif;
      background-color: #797979;
      width: 12em;
      font-size: 0.6em;
      color: white;
      margin-top: -1em;
      padding-left: 6%;
      @include deskNormal {font-size: 13.66pt;margin-top: 0.2em;padding-left: 1%;position: absolute;width: 12em;}
      @include deskGrande {font-size: 1.5em;width: 11em;}
    }
    p:nth-child(4){
      background-color: #dadada;
      font-size: 0.67em;
      padding: 5%;
      width: 20em;
      font-family: 'Open Sans', sans-serif;
      @include tablet {font-size: 0.7em;padding: 5%;width: 22em;font-weight: 100;margin-top: -1em;}
      @include deskNormal {font-size: 13.21pt;margin-top: 3em;position: absolute;padding: 1%;}
      @include deskGrande {font-size: 1.3em;position: absolute;padding: 1%;}
    }
  }
  div{
    p:nth-child(1){
      font-family: 'Nexa', sans-serif;font-weight: bold;font-size: 1.2em;top: 25em;position: absolute;left: 10em;line-height: 1;
      @include tablet {font-size: 3em;top: -2em;left: 0;}
    }
  }

  &--two{
    margin-top: 11em;height: 19em; width: 100%;background-repeat:no-repeat;background-size: cover;position: relative;background-image: url("../sass/image/fondo2_phone.png");
    @include tablet {background-image:url("../sass/image/fondo2_desk.png");height: 25em;margin-top: 1em;}
    @include deskNormal {height: 44em;}
    @include deskGrande {height: 54em;}
    @include deskExGrande {height: 62em;}
		.div-two{width: 23em;position: relative;margin: 0 auto;
			@include tablet{width: 49em;};
			@include deskNormal{width: 77em;};
			@include deskGrande{width: 97em;};
			@include deskExGrande{width: 114em;};
		}
    img{
      position: absolute;width: 14%;left: 1em;top: 2em;
      @include tablet {position: absolute;width: 7%;}
      @include deskNormal {width: 5em;left: 8em;}
      @include deskGrande {width: 6em;top: 4em;}
      @include deskExGrande {width: 7em;top: 5em;}
    }
    img:nth-child(2){
      position: absolute;width: 56%;top: 7.5em;left: 0.5em;
      @include tablet {position: absolute;width: 40%;left: 1em;top: 5em;}
      @include deskNormal {width: 30em;left: 6em;top: 11em;}
      @include deskGrande {width: 35em;top: 16em;left: 6em;}
      @include deskExGrande {width: 37em;top: 20em;}
    }
    img:nth-child(3){
      position: absolute;width: 7%;left: 14em;top: 8em;
      @include tablet {position: absolute;width: 4%;left: 37em;top: 10em;}
      @include deskNormal {width: 3em;left: 67em;top: 20em;}
      @include deskGrande {width: 4em;top: 20em;left: 74em;}
      @include deskExGrande {top: 27em;left: 87em;}
    }
    img:nth-child(4){
      position: absolute;width: 11%;left: 16em;top: 7em;
      @include tablet {position: absolute;width: 6%;left: 40em;top: 9em;}
      @include deskNormal {width: 4em;left: 72em;top: 18em;}
      @include deskGrande {width: 6em;left: 82em;}
      @include deskExGrande {top: 23em;left: 95em;}
    }
    img:nth-child(5){
      display: none;
      @include tablet {display: inline-block;position: absolute;width: 5%;left: 43em;top:6em;}
      @include deskNormal {width: 3em;left: 75em;top: 10em;}
      @include deskGrande {width: 5em;left: 95em;top: 12em;}
      @include deskExGrande {top: 14em;left: 105em;}
    }
    img:nth-child(6){
      display: none;
      @include tablet {display: inline-block;position: absolute;width: 17%;top: 23em;left: 7em;}
      @include deskNormal{display: inline-block;position: absolute;width: 10em;left: 16em;top: 38em;}
      @include deskGrande{display: inline-block;width: 15em;position: absolute;top: 47em;left: 17em;}
      @include deskExGrande {top: 52em;left: 20em;}
    }
    img:nth-child(7){
      display: none;
      @include tablet {display: inline-block;position: absolute;width: 17%;left: 21em;top: 23em;}
      @include deskNormal{display: inline-block;position: absolute;width: 10em;left: 37em;top: 38em;}
      @include deskGrande{width: 15em;top: 47em;left: 44em;}
      @include deskExGrande {top: 52em;left: 50em;}
    }
    img:nth-child(8){
      display: none;
      @include tablet {display: inline-block;position: absolute;width: 17%;left: 35em;top: 23em;}
      @include deskNormal{width: 10em;left:57em;top: 38em;}
      @include deskGrande{width: 15em;top: 47em;left: 70em;}
      @include deskExGrande {top: 52em;left: 80em;}
    }
    img:nth-child(9){
      display: none;
      @include tablet {display: inline;position: absolute;padding: 47% 0 0 72%;width: 88%;}
    }

  }
  &--three{

	    margin-top: -1em;height: 20em; width: 100%;background-repeat:no-repeat;background-size: cover;position: relative;background-image:url("../sass/image/fondo3_phone.png");
	    @include tablet {height: 38em;margin-top: 15em;background-image:url("../sass/image/fondo3_desk.png");}
	    @include deskNormal {height: 56em;background-position-y:5px;}
	    @include deskGrande {height: 84em;}
	    @include deskExGrande {height: 70em;}
			div{position: relative;width: 23em;margin:0 auto;
				@include tablet{width: 49em;};
				@include deskNormal{position: relative;width: 79em;margin:0 auto;}
					@include deskGrande{width: 96em;}
					@include deskExGrande{width: 108em;};
	    img:nth-child(1){
	      width: 3.5em;left: 1em;position: absolute;
	      @include tablet {width: 6em;position: absolute;top: 5em;left: 3em;}
	      @include deskNormal {width: 8em;position: absolute;top: 9em;left: 7em;}
	      @include deskGrande {top: 18em;width: 11em;}

	    }
	    img:nth-child(2){
	      width: 6.2em;position: absolute;top: 14.4em;
	      @include tablet{display: none;}
	    }
	    img:nth-child(3){
	      width: 7em;position: absolute;top: 12em;left: 13em;z-index: 999;
	      @include tablet{display: none;}
	      @include deskGrande {display: none;}

	    }
	    img:nth-child(4){
	      width: 2.5em;left: 17em;top:3em;position: absolute;
	      @include tablet{left: 40em;width: 3em;position: absolute;top: 10em;left: 40em;}
	      @include deskNormal {width: 4em;position: absolute;left: 74em;top: 15em;}
	      @include deskGrande {width: 6em;left: 84em;top: 20em;}
	      @include deskExGrande {left: 101em;}
	    }
	    img:nth-child(5){
	      width: 2em;top: 7em;left: 1em;
	      position: absolute;
	      @include tablet{width: 3em;top: 20em;left: 4em;position: absolute;}
	      @include deskNormal {width: 4em;position: absolute;left: 10em;top: 32em;}
	      @include deskGrande {top: 40em;}
	      @include deskExGrande {top: 38em;}
	    }
	    img:nth-child(6){
	      display: none;
	      @include tablet{display: inline;width: 8em;position: absolute;top: 26em;left: 7.27em;}
	      @include deskNormal {width: 11em;position: absolute;left: 21em;top: 41.5em;}
	      @include deskGrande {width: 15em;left: 20.2em;top: 56.5em;}
	      @include deskExGrande {top: 47.5em;left: 23.5em;}
	    }
	    img:nth-child(7){
	      display: none;
	      @include tablet{display: inline-block;width: 14em;position: absolute;top: 21em;left: 32em;}
	      @include deskNormal {width: 19em;position: absolute;top: 35em;left: 53em;}
	      @include deskGrande {display: inline;position: absolute;left: 66em;top: 48em;width: 26em;}
	      @include deskExGrande {width: 25em;top: 39.5em;left: 69em;}
	    }
	    div{
	      text-align: center;
	      @include tablet {width: 96%;}
	      @include deskNormal {position: absolute;}
	      @include deskGrande {width: 96em;}
	      @include deskExGrande {top: -9em;}
	      p:nth-child(1){
	        font-family: $nexa;
	        font-size: 2.5em;
	        color: #fff;
	        font-weight: bold;
	        font-style: normal;
	        margin-top: 1em;
	        display: inline-block;
	        @include tablet {font-size: 4em;position: absolute;left: 4em;top: 1.5em;}
	        @include deskNormal {font-size: 4em;left: 9em;top: 5em;}
	        @include deskGrande {font-size: 6em;left: 6.5em;top: 4em;}
	        @include deskExGrande {left: 7.5em;top: 4em;}
	      }
	      p:nth-child(2){
	        background-color: white;
	        position: absolute;
	        width: 12em;
	        font-size: 1em;
	        top: 6em;
	        left: 5em;
	        font-family: 'Open Sans';
	        font-weight: 100;
	        @include tablet {font-size: 2em;width: 11em;position: absolute;top: 8em;left: 7em;}
	        @include deskNormal {font-size: 2em;width: 10em;position: absolute;left: 17em;top: 15em;}
	        @include deskGrande {font-size: 3em;width: 13em;left: 11em;top: 13em;}
	        @include deskExGrande {left: 12em;}
	      }
	      p:nth-child(3){
	        background-color: #fff;
	        position: absolute;
	        font-size: 0.51em;
	        left: 12em;
	        top: 16em;
	        text-align: left;
	        padding: 2%;
	        width: 15em;
	        font-family: 'Open Sans';
	        font-weight: 100;
	        @include tablet {line-height: initial;font-size: 0.8em;width: 24em;position: absolute;left: 19em;top: 25em;}
	        @include deskNormal {font-size: 1em;left: 32em;top: 34em;}
	        @include deskGrande {font-size: 1.6em;width: 22em;left: 22em;top: 28em;}
	        @include deskExGrande {left: 24em;}
	      }
	    }
		}
  }
}
.buscador{
	background-image: url("../sass/image/Menu_back_phone.png"); background-size: cover;top: 9em;position: relative;margin: 0 auto;width: 20em;padding: 4% 0;
	@include tablet{top: 0;width: 41em;height: 13.5em;padding: 2%;}
	@include deskNormal{width: 74%!important;padding: 2% 0 !important;height:9.5em !important; top: 0em;}
	@include deskGrande{top: 0em;}
	h5{text-align: center;font-family: 'Open Sans';
		@include deskNormal{font-size: 2em;}
		b{font-family: 'Nexa';}
	}
	.lleno{background-color: #0486fa;background: linear-gradient(to right, #59d3aa, #0486fa);color:white;border-radius: 0px;width: 24em;
		@include tablet{width:54em;}
		option{background-color: #0486fa;}
	}
	.borde{
		border-left: 2px solid #00d4a8;
	  border-right: 2px solid #0083ff;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background-color: #fff;
	  background-position: 0 0, 0 100% ;
	  background-repeat: no-repeat;
	  -webkit-background-size: 100% 20px;
	  -moz-background-size: 100% 20px;
	  background-size: 100% 2px;
	  background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
	  background-image: -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
	  background-image: -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
	  background-image: -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
	  background-image: linear-gradient(to right, #00d4a8 0%, #0083ff 100%), linear-gradient(to right, #00d4a8 0%, #0083ff 100%);
		border-radius: 0px !important;width: 24em;margin:0 auto; position: relative;
		@include tablet{width: 54em;}
	}
	.menu{display: flex;flex-direction: column;flex-wrap: wrap;font-size: 0.67em;
		@include tablet{width: 93%;};
		a{width: 90%;background-color: #0092f1;color: #fff !important;font-size: 0.9em;padding: 1em;text-align: center;
			@include tablet{width: 99.4%;};
			@include deskNormal{height: 3.4em;};
		}
		.autocomplete{width: 24em;padding-left: 3%;border:none;
			@include tablet{width: 54em;height: 3em;}
			@include deskNormal{width: 24em;height: 3em;}
		}
		@include deskNormal{flex-direction: row;flex-wrap: nowrap;font-size: 0.9em;}
	}
	button{width: 24em;height: 3em;border:none;
		@include tablet{width: 54em;}
	}
	.pac-matched{background-color: red!important;}
	select {

		background-image: url("../sass/image/001_Menu_deslizar_azul_phone.png"),url("../sass/image/001_Menu_deslizar_blanco_phone.png");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: 0.7em;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		appearance: none;
		padding: 3%;
		height: 3em;
		@include tablet{padding: 0%;}
		}
}
select #tipoOperacion{
	background-image: url("../sass/image/001_Menu_deslizar_blanco_phone.png");
}
.text-slide{
    display: none;
    @include tablet {display: inline-block;position: absolute;width: 22em;text-align: center;font-size: 9.5pt;top:41em;line-height: 13.66pt;}
    @include deskNormal {display: inline;width: 56em;left: 4em;top: 62em;}
    @include deskGrande {width: 15em;position: absolute;}
    @include deskExGrande{position: absolute;top: 69em;left: 7em;}
    p:nth-child(1){
      font-family: 'Nexa';
      @include tablet {font-size: 1.4em;position: absolute;left: 6.4em;}
      @include deskNormal {display: inline;width: 40%;font-size: 1.8em;top:0.5em;}
      @include deskGrande {width: 16em;position: absolute;font-size: 3em;left: 1.2em;top: 6.5em;}
    }
    p:nth-child(2){
      font-family: 'Open Sans';
      font-weight: 100;
      @include tablet {font-size: 0.8em;width: 19em;position: absolute;top: 2em;left: 7em;}
      @include deskNormal {font-size: 10.5pt;margin-top: 0.8em;margin-left: 3.5em;}
      @include deskGrande {font-size: 1.5em;line-height: initial;width: 18em;left: 6em;top: 14em;}
    }
    &-two{
      display: none;
      @include tablet {display: inline-block;position: absolute;width: 40em;text-align: center;font-size: 9.5pt;line-height: 13.66pt;top: 41em;left: 12em;}
      @include deskNormal {display: inline;width: 66em;top: 62em;left: 17em;}
      @include deskGrande{position: absolute;width: 15em;left: 17.5em;}
      @include deskExGrande {top: 69em;left: 25em;}
      p:nth-child(1){
        font-family: 'Nexa';
        @include tablet {font-size: 1.4em;}
        @include deskNormal {font-size: 1.8em;padding-left: 10%;top: .5em;position: absolute;left: 12em;}
        @include deskGrande {width: 16em;position: absolute;font-size: 3em;left: 7.8em;top: 6.5em;}
      }
      p:nth-child(2){
        font-family: 'Open Sans';
        font-weight: 100;
        @include tablet {font-size: 0.8em;width: 19em; position: absolute;display: inline-block;left: 15.5em;top: 2em;}
        @include deskNormal {font-size: 1.1em;width: 19em;position: absolute;left: 23em;top: 3em;}
        @include deskGrande {font-size: 1.5em;line-height: initial;width: 18em;left: 23em;top: 15em;}
      }
    }
    &-three{
      display: none;
      @include tablet {display: inline-block;position: absolute;text-align: center;line-height: 13.66pt;top: 32em;left: 34em;}
      @include deskNormal {display: inline;position: absolute;left: 55.5em;top: 49em;}
      @include deskGrande{width: 15em;position: absolute;left: 30.5em;}
      @include deskExGrande {top: 55em;left: 40em;}
      p:nth-child(1){
        font-family: 'Nexa';
        @include tablet {font-size: 1.1em;position: absolute;top:0.5em;width: 10em;}
        @include deskNormal {font-size: 1.5em;}
        @include deskGrande {width: 16em;position: absolute;font-size: 2.3em;left: 13em;top: 6.6em;}
      }
      p:nth-child(2){
        font-family: 'Open Sans';
        font-weight: 100;
        @include tablet {font-size: 0.62em;width: 19em;position: absolute;display: inline-block;left: -1em;top: 3em;}
        @include deskNormal {font-size: 10.5pt;width: 18em;}
        @include deskGrande {font-size: 1.2em;line-height: initial;width: 19em;left: 30.5em;top: 14.5em;}
      }
    }
    &-cero{
      color: white;
      width: 15em;
      position: absolute;
      left: 4.5em;
      top: 3em;
      @include tablet {width: 19em;position: absolute;left: 18em;top: 5em;}
      @include deskNormal {width: 40em;left: 30em;top: 10em;}
      @include deskGrande {left: 34em;}
      p:nth-child(1){
        font-size: 13pt;
        font-family: 'Open Sans';
        font-weight: 100;
        @include tablet {font-size: 17pt;}
        @include deskNormal {font-size: 3em;}
        @include deskGrande {font-size: 43pt;width: 16em;}
        b{font-family: 'Nexa'}
      }
      p:nth-child(2){
        font-family: 'Open Sans';
        background-color: white;
        color:black;
        font-size: 6pt;
        width: 24em;
        padding: 1%;
        margin-top: -2em;
        @include tablet {font-size: 8pt;margin-top: -1em;}
        @include deskNormal {font-size: 1.6em;margin-top: 0;font-weight: 100;width: 23em; padding-left: 2%;}
      }
      p:nth-child(3){
        font-family: 'Open Sans';
        background-color: white;
        color:black;
        font-size: 6pt;
        width: 17em;
        padding: 1%;
        margin-top: -1.5em;
        @include tablet {font-size: 8pt;margin-top: -1em;}
        @include deskNormal {font-size: 1.6em;margin-top: 0;font-weight: 100;width: 16.2em;}
      }
    }
}
.text{
  display: inline;
  position: absolute;
  padding: 134% 0 0 8%;
  width: 20em;
  text-align: center;

  p{
    font-family: $nexa;
    font-size: 16.66pt;
  }
  p:nth-child(2){
    font-size: 13.5pt;
    margin-bottom: 0;
  }
  p:nth-child(3){
    font-size: 13.5pt;
    line-height:17.66pt;
    color: #3b3b3b;
    font-family: 'Open Sans light';
  }
}
.modal-login-content{
	.uno {
	    margin: 10px 40px 18px;
	}
	.dos {
			display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.tres {
	    -webkit-box-flex: 1;
	    -webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    -webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	    flex-shrink: 1;
	    background-color: #efefef;
	    height: 1px;
	    position: relative;
	    top: .45em;
	}
	.cuatro {
	    color: #999;
	    -webkit-box-flex: 0;
	    -webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	    flex-grow: 0;
	    -webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	    flex-shrink: 0;
	    font-size: 13px;
	    font-weight: 600;
	    line-height: 15px;
	    margin: 0 18px;
	    text-transform: uppercase;
	}
	.cinco {
	    -webkit-box-flex: 1;
	    -webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    -webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	    flex-shrink: 1;
	    background-color: #efefef;
	    height: 1px;
	    position: relative;
	    top: .45em;
	}
	input{display: block;margin: 0 auto;width: 77%;margin-bottom: 2px;}
	.sesion{background-color: #026bef;width: 77%;height: 2.5em;top: 0;color: white !important;}
}
