@font-face {
	    font-family: 'Nexa';
	    src: url('../../fonts/NexaBlack.eot');
	    src: url('../../fonts/NexaBlack.eot?#iefix') format('embedded-opentype'),
  		url('../../fonts/NexaBlack.woff2') format('woff2'),
  		url('../../fonts/NexaBlack.woff') format('woff'),
  		url('../../fonts/NexaBlack.ttf') format('truetype'),
  		url('../../fonts/NexaBlack.svg#NexaBlack') format('svg');
  	    font-weight: 900;
  	    font-style: normal;
	}
