.Modal {
    position: fixed;
    text-align: center;
    z-index: 500;
    height: 300px;
    background:#0a3c8ed1;
    opacity: 0.9;
    width: 40%;
    border-radius: 65px;
    padding: 16px;
    top: 25%;
    left: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}



@media (max-width: 800px) {
    .Modal {
      width: 80%;
      left: 10%;
    }

}
