p{font-family: 'Open sans';
  font-weight: 100;
  }
  #catalogo{display: none;}
.catalogo{position: static;top: 8em;margin:0 auto;text-align: center;padding-top: 8em;padding-bottom: 3em;
  section{
    h1{font-family: "Open sans";font-size: 1.5em;text-align: center;
      @include tablet{font-size: 2em;}
      @include deskNormal{display: none};
      b{font-family: "Nexa";}
    }
    .fondo{background-image: url('../sass/image/back_buscador_phone.png');background-repeat: no-repeat;background-size: cover;height: 3em;width: 19em;margin: 0 auto;padding: .5%;
      @include tablet{width: 31em;}
      @include deskNormal{width: 21em;top: -4em;position: relative;left: -6em;z-index: 9999999;}
      input{border:none;border-radius: 15px;width: 19em;padding: 0 2%;font-size: 0.9em;position: relative;top: 0.4em;}
    }
  }
  .catalogo--filtros{display: flex;flex-direction: column;flex-wrap: wrap;margin: 0 auto;width: 19.5em;
    @include tablet{width: 35.5em;}
    @include deskNormal{width: 79.5em;flex-wrap: nowrap;flex-direction: row;position: relative;top: -3em;}
    @include deskGrande{width: 92.5em;};
    @include deskExGrande{width: 103.5em;}
    .filtros{
      padding: 6%;
      top: 1em;
      margin: 0 auto;
      position: relative;
      width: 19em;
      height: 46em;
      border-left: 2px solid #00d4a8;
      border-right: 2px solid #0083ff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fff;
      background-position: 0 0, 0 100% ;
      background-repeat: no-repeat;
      -webkit-background-size: 100% 20px;
      -moz-background-size: 100% 20px;
      background-size: 100% 2px;
      background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
      background-image: -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
      background-image: -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
      background-image: -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
      background-image: linear-gradient(to right, #00d4a8 0%, #0083ff 100%), linear-gradient(to right, #00d4a8 0%, #0083ff 100%);
      @include tablet {width: 34em;}
      @include deskNormal{width: 20em;padding: 3%;height: 50em;}
      @include deskGrande{width: 22em;padding: 2%;}
      input[type=checkbox]
        {
           -webkit-appearance:checkbox;
        }
      .sliderRange {
          -webkit-appearance: none;
          width: 100%;
          height: 1px;
          border-radius: 5px;
          background-image: url("../sass/image/linea_range.png");
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
      }

      .sliderRange:hover {
          opacity: 1;
      }

      .sliderRange::-webkit-slider-thumb {
          -webkit-appearance: button;
          appearance: none;
          width: 1em;
          height: 1em;
          border-radius: 50%;
          background-image: url("../sass/image/punto_seccion.png");
          background-repeat: no-repeat;
          background-size: contain;
          cursor: pointer;
      }

      .sliderRange::-moz-range-thumb {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          box-sizing: border-box;
          padding: 5%;
          background: #fff;
          cursor: pointer;
      }


      .listSources{height:4%;width:50%;

        input{border: none;background-color: #ededed;border-radius: 15px;width: 10%;height: 2em;z-index: 999999;cursor: pointer;
          input[type=checkbox]::-ms-check {
            color: #0087fc; /* Hará que la marca de selección sea rverde cuando seleccionemos el botón */
          }}
        span{position:absolute;;padding-left:7%;text-align:left;}
      }
      .switch {
          position: relative;
          display: inline-block;
          width: 104px;
          height: 26px;
        }

        .switch input {display:none !important;}
        .slider {
          width: 6.5em;
          height: auto;
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #0083ff;
          -webkit-transition: .4s;
          transition: .4s;
           border-radius: 34px;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 20px !important;
          width: 20px !important;
          left: 4px;
          bottom: 3px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
          @include deskGrande{width: 25px; height: 25px;};
        }

        input:checked + .slider {
          background-color: #00d4a8;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #00d4a8;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(76px) !important;
          -ms-transform: translateX(26px);
          transform: translateX(36px);
        }

        /*------ ADDED CSS ---------*/
        .slider:after
        {
         content:'Catálogo';
         color: white;
         display: block;
         position: absolute;
         transform: translate(-50%,-50%);
         top: 50%;
         left: 60%;
         font-size: 15px;
         font-family: 'Open Sans';
        }

        input:checked + .slider:after
        {
          content:'Filtros';
          left: 41%;
        }

        article{height: 4.5em;display: flex;flex-direction: column;flex-wrap:wrap;


          b{text-align: left;font-family: 'Open Sans';font-weight: 600;}
          p:nth-child(1){
            margin-bottom: -1rem;text-align: left;
          }
          p:nth-child(2){
            span{text-align: right;display: inherit;}
          }

          select{-moz-appearance:none;
            border:none;background-color: #ededed;border-radius: 15px;font-size: 1em;height: 2em;padding-left: 5%;font-weight: 100;font-family: 'Open Sans';
          }
        }
        div{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-pack: distribute;justify-content: space-around;top: 0.5em;position: relative;
          input{width: 40%; height: auto;position: relative;border: solid 1px #00d4a7;padding: 1%;background-color: #ededed;font-weight: 300;border-radius: 5px;}
        }

    }
    .mapa{width: 100%;position: relative;top: 2em;
      @include tablet{width: 47.9em;left: -6.2em;}
      @include deskNormal{width: 55.6em;left: -1.2em;top: 1em;}
      @include deskGrande{width: 65.6em;}
      @include deskExGrande{width: 77.6em;}
      iframe{border: 0;width: 100%;position: relative;top: 2em;height: 25em;
        @include deskNormal{height: 42.2em;}
      }
    }
    .radio{height: 7em !important;
      b{left: 1em;position: relative;font-weight: 600;}
      div{display: flex;}
      input{width: 12% !important;height: 1em!important;top: 0.3em;position: relative;}
    }
    .radio2{height: 5em !important;
      b{left: 1em;position: relative;font-weight: 600;}
      label{display: flex;}
      input{width: 12% !important;height: 1em!important;top: 0.3em;position: relative;}
    }
    .source{height: 2em;}
  }
  .catalogo-inmuebles{
    top: -80em;position: relative;height: 37em;
    @include tablet{top: -81em;}
    @include deskNormal{top: 5.8em;position: absolute;left: 2em;width: 20em;}
    @include deskGrande{top:4.8em;left: 3.5em;}
    @include deskExGrande{top: 5em;left: 3em;}
    div{width: 18em;margin:0 auto;
      @include tablet{width: 31em;}
      @include deskNormal{width: 17em;}
      @include deskGrande{width: 19em;}
      h6{background-color: #e9ecef;border-radius: 15px;width: 10em;width: 100%;height: 2em;padding-top: 3%;font-weight: 600;font-family: 'Open Sans';}
      article{
        padding: 2%;
        position: relative;
        border-left: 3px solid #00d4a8;
        border-right: 3px solid #0083ff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        background-position: 0 0, 0 100% ;
        background-repeat: no-repeat;
        -webkit-background-size: 100% 20px;
        -moz-background-size: 100% 20px;
        background-size: 100% 2px;
        background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
        background-image: -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
        background-image: -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
        background-image: -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
        background-image: linear-gradient(to right, #00d4a8 0%, #0083ff 100%), linear-gradient(to right, #00d4a8 0%, #0083ff 100%);
        img{width: 100%;}
        p{background-image: url('../sass/image/fondo_pleca_casita_phone.png');background-size: cover;color: white;width: 100%;}
      }
    }
  }
  &--catalogo{top:-12em;width: 20em;overflow: auto;height: 42em;position: relative;background-color: #fff;
    @include tablet{top: -12.5em;}
    @include deskNormal{height: 44em;top: -0.5em;}
    @include deskGrande{top: 0em;};
    article{
      span{display: block;text-align: left;text-transform: capitalize;}
      a{color: black;}
      a:hover{
        border-bottom: 3px solid #0083ff;
      }
      .props{
        flex-direction: row;
        flex-wrap: nowrap;
        display: flex;
        aside{border: none!important;
          img{width: 60% !important;}
          span{display: block;text-align: center;font-size: 0.8em;}
        }
      }
    }
    .logo{
      width: 8em!important;display: block;
    }
  }
}
.area{height: 10em;}
#map {
  height: 22em;
  width: auto;
  top: 2em;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: auto;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.input-range__slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #0087fc;
  border: 1px solid #0087fc;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  width: 1rem; }
  .input-range__slider:active {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  .input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
  .input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
            transform: none; }

.input-range__slider-container {
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out; }

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  top: -1.8rem; }

.input-range__label-container {
  left: -50%;
  position: relative; }
  .input-range__label--max .input-range__label-container {
    left: 50%; }

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
  transition: left 0.3s ease-out, width 0.3s ease-out; }
  .input-range--disabled .input-range__track {
    background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #0087fc; }

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
  top: 2em;
}

.markers{
  @include deskNormal{width: 2em;height: 2em;cursor: pointer;}
}

.inmueble--detalle{
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  &-background{background-color: black;opacity: 0.8;position: fixed !important;top: 0 !important;left: 0;right: 0;bottom: 0;}
  &-content{position: relative;width: 15%;height: 20em;display:block;margin: 0 auto;background-color: white;box-sizing: border-box;padding: 2em;text-align: center;top: 11em!important;vertical-align: middle;
    }
  }

  body{
    // background: #000
}
.modal-catalogo{
  width: 60%;
  left: 21%;
  margin-top: 50em;
  height: auto;
  position: absolute;
  @include tablet{width: 30%;};
  @include deskNormal{width: 25%;left: 40%;margin-top: 0;};

  img{width: 100%;height: 55%;margin-bottom: 1em;}
  p:nth-child(1){
    float: right;cursor: pointer;
  }
  &--p{background-image: url('../sass/image/fondo_pleca_casita_phone.png');background-size: cover;color: white;width: 100%;}
}
.props-modal{flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    aside{width: 8em;
      span{font-size: 0.9em;}
    }
  }
