#servicios{background-color: #dddddd;}
.detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
    padding-top: 7em;
    padding-bottom: 15%;
    position: relative;
    margin: 0 auto;
    @include deskNormal{padding-bottom: 0%;flex-direction: row;height: auto;padding-top: 9em;position: static;};

    .detail--first-part{
      width: 100%;
      @include deskNormal{width: 60%;padding: 3%;height: 60em;};
      .services{background-color: #e8e8e6;
        @include tablet{height: auto;position: relative;top: 2em;};
        @include deskNormal{display: flex;width: 100%;position: relative;};
        @include deskExGrande{display: flex;flex-direction: row;flex-wrap: nowrap;width: 100%;left: 0em;position: relative;}
        p{@include deskNormal{position: absolute;};}
        &-datos{
          padding: 3%;
          @include tablet{top: 2em;position: relative;};
          @include deskNormal{width: 50%;margin:0 0 ;}
        }
          article{height: 2em;}
        &-borde{
          width: 100% !important;
          height: 31px;
          padding-left: 3%;
          border-left: 2px solid #00d4a8;
          border-right: 2px solid #0083ff;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #fff;
          background-position: 0 0, 0 100% ;
          background-repeat: no-repeat;
          -webkit-background-size: 100% 20px;
          -moz-background-size: 100% 20px;
          background-size: 100% 2px;
          background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
          background-image: -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
          background-image: -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
          background-image: -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
          background-image: linear-gradient(to right, #00d4a8 0%, #0083ff 100%), linear-gradient(to right, #00d4a8 0%, #0083ff 100%);}
      }
      .datos{padding: 3%;
        &-anunciante{position: relative;top: 0em;
          @include tablet{top: 4em;};
          @include deskNormal{width: 50%;};
        }
      }
    }
    .detail--second-part{
      @include tablet{width: 100%;top: 3em;position: relative;};
      @include deskNormal{width: 40%};
      .mapa{
        &-borde{
          width: 100% !important;
          height: 31px;
          padding-left: 3%;
          margin-bottom: 0;
          border-left: 2px solid #00d4a8;
          border-right: 2px solid #0083ff;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #fff;
          background-position: 0 0, 0 100% ;
          background-repeat: no-repeat;
          -webkit-background-size: 100% 20px;
          -moz-background-size: 100% 20px;
          background-size: 100% 2px;
          background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
          background-image: -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
          background-image: -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
          background-image: -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
          background-image: linear-gradient(to right, #00d4a8 0%, #0083ff 100%), linear-gradient(to right, #00d4a8 0%, #0083ff 100%);}

        .ubicacion{
          @include deskNormal{margin: 0 auto;top: -0.7em !important;position: relative !important;};
          @include deskGrande{top:-72.6em !important;};
          @include deskExGrande{top:-76.8em !important;};
        }
        &-div{width: 100%;margin: 0 auto; position: relative;top: 2em;height: 15em;
           @include deskNormal{margin: 0 auto;top:-0.7em;height: 20em;};
           @include deskGrande{top: -2.5em;height: 22em;};
           @include deskExGrande{height: 25em;top: -2em;};
           .markers{width: 3em !important;height: 3em;}
        }
      }
      article{
        top: 3em;position: relative;height: auto;margin-bottom: 1em;
        @include deskNormal{top: 0em;};
        @include deskGrande{top: -2em;};
        @include deskExGrande{top: -1.5em;};
        .datos{background-color: #e8e8e6;padding: 3%;}
      }
      .form{top: 3em;position: relative;
        @include deskNormal{top: 0em;};
        span{font-family: 'Open sans';font-size: 0.8em;}
        input{display: block;border-bottom: 1px solid #e1e1e1 !important; border: none;width: 100%;height: 3em;}
        .contact-a{display: block;width: 100%;background-color: #31d45d;color: white;text-align: center;height: 2em;border:none;cursor: pointer;}
        .contact-a:hover{color:#55595d;}
        a{color: black;font-weight: 600;font-size: 0.9em;}
      }
    }
  .errorOn{position: initial !important;}

}

.images{height: 19em;display: block;position: relative;width: 100%;margin: 0 auto;
  @include tablet{position: relative;margin:0 auto;height: 18em;};
  @include deskNormal{width: 100%};
  @include deskExGrande{height: 21em;};
  div{position: sticky;top: 0em;height: 20em;
    img{width: 15em;
      @include tablet{width: 17em !important;};
    }
  }
  .slider-detalle .slick-dots {
    display: block !important;
    top: 24em !important;
  }
  .slick-dots li{
    display: none !important;
  }
  .slick-dots .slick-active {
    display: inline-block !important;
}
  .slick-prev:before{content: url('../sass/image/btnIzq.png') !important;
    @include tablet{top: 0.6em !important;position: relative};
  }
  .slick-next:before, [dir=rtl] .slick-prev:before{
    @include tablet{top: 0.6em !important;position: relative};
  }
  .slick-slider{@include tablet{display: block !important;}}
  .slick-list{height: 19em;}
  .slider-2{@include tablet{width: 25em;};}
  .dot-image{
    width: 1em !important;
    top: -7.1em;
    position: relative;
    z-index: 9999;
    left: 3.5em;
    @include tablet{top: -6.2em;left: 12em;};
    @include deskNormal{left: 15em;};
    @include deskGrande{left: 18em;top: -6.2em;};
    @include deskExGrande{left: 21.5em;top: -3.2em;};
  }
}
.price-detalle{
  position: relative;top: -5.7em;color:white;background-color:#04af97;text-align: left;width: 10em;padding: 1.5% 3%;font-family: 'Nexa';
  @include tablet{top: -5.5em;};
  @include deskExGrande{top: -2.5em;font-size: 1.3em;};
  &-unit{
    font-size:0.8em;letter-spacing:0.1em;
  }
}
.slick-slide img:nth-child(1){
    width: 59%;
    height: 59%;
    position: absolute;
    margin-left: 1em;
    top: 2em;
    @include tablet{width: 78% !important;height: 60%;};
    @include deskNormal{width: 75% !important;};
    @include deskExGrande{width: 83% !important;height: 71%;};
}
.slider-detalle{
  .slick-next, .slick-prev{
    top: 23% !important;
  }
}
.slider-detalle{
  .slick-next:before{
    content: url('../sass/image/btnDer.png') !important;
  }
}
.dot{
  margin-bottom: 0.5em;
  background: linear-gradient(to right, #59d3aa, #0486fa);
  color: white;
  text-align: right;
  width: 19em;
  margin: 0 auto;
  top: -8.5em;
  position: relative;
  left: -8.9em;
  padding-right: 2em;
  @include tablet{width: 40.8em;top: -7.6em;left: -19.8em;};
  @include deskNormal{width: 41.3em;top: -7.5em;left: -20em;};
  @include deskGrande{left: -23.2em;width: 47.7em;};
  @include deskExGrande{left:-26.9em;width: 54.99em;top: -4.5em;};
}


.location{
  font-family: 'Open Sans'; width: 100%;margin:0 auto;margin-bottom: 1em;position: relative;top: 0.3em;
  @include tablet{top: 0em !important;position: relative;};
  @include deskNormal{top: 0.3em !important;left: -0.2em; margin: 0 auto!important;};
  @include deskGrande{margin:0 8.1% !important;left: -4.1em;};
  @include deskExGrande{ top: 12em !important;left: 4.64em !important;};
  article{margin-bottom: 0.5em;background: linear-gradient(to right, #59d3aa, #0486fa);color: white;text-align: right;padding-right: 5%;top: -0.2em;position: relative;
    span{font-size: 0.7em;text-transform: capitalize;}
  }
  div{width: 100%;text-align: left;padding: 1%;top: -0.8em;position: relative;
    @include tablet{top:1.2em;};
    @include deskNormal{left: 0.23em;width: 99.9%;};
    @include deskExGrande{left: -9.1em;top: -10.5em;};
  }
}

.slider-detalle{
  .slick-list, .slick-slider, .slick-track{
    display: block !important;
  }
}

.informacion{top: 8em;position: relative;flex-direction: row;
  @include tablet{padding: 5%;display: flex;flex-direction: column;flex-wrap: wrap;top: 9em;};
  @include deskNormal{position: relative;top: 8em;display: block;height: 10em;};
  .datos{
    background-color: rgba(239, 239, 237, 1);width: 84.2%;margin:0 auto;padding: 3%;position: relative;
    @include deskNormal{width: 50%;margin: 0 0%;};
    article{margin:1em 0;}
  }
  .description{
    top: 4em !important;
    @include deskNormal{top: -67.4em !important;margin: 0 51%;};
    @include deskGrande{top:-70.8em !important;};
    @include deskExGrande{top:-73.8em !important;};
  }


  .pBack{font-size: 1em;font-family: 'Open sans';margin: 0 auto;width: 100% !important;padding: 2%;height: 2.5em;
    @include deskNormal{margin: 0 51%;width: 41.2%;top:-67.4em !important;};
    @include deskGrande{top:-70.8em !important};
    @include deskExGrande{padding: 0.4%;top: -73.8em !important;};
  }
  .datosP{@include deskNormal{margin: 0 8%;};}

  form{width: 82%;position: relative;top: 6em;margin: 0 auto;
    @include deskNormal{width: 41.2%;margin:0 51%;top: -67em;};
    @include deskGrande{top: -70em;};
    @include deskExGrande{top: -73em;}

  }

}

.static--contact-msg{
    width: 100%;
    padding: 1em;
    height: 8em;
    text-align: center;
    box-sizing: border-box;
    background-color: #43c1ba;
    color: white;
    border-top: 1px solid white;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
