footer{
  background-image:url("../sass/image/pleca_desk.png");position: static;padding: 3%;
  @include tablet {height: 5em;}
  @include deskNormal {height: 4.5em;}
  @include deskGrande {height: 5em;}
  img{display: none;display: block;position: relative;width: 90%;margin: 0 auto;}
  a{
      img{display: inline-block;width: 19%;float: right;right: 5%;padding-top: 0.5%;
      @include tablet{width: 16%;};
      @include deskNormal{width: 7%;top: 0.5%;}
    }
  }
  p{display: inline-block;left: 8%;width: 60%;font-size: 0.8em;
    @include tablet{width: 42%;};
    @include deskNormal{width: 24%;font-size: 0.8em;left: 6%;position: relative};
  }

}
