* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

header {
  background-color: transparent;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 9;
}

.menu {
  width: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
  @include tablet{display: flex;};
  .logo {
    display: inline-block;
    margin-right: 1em;
    img {
      vertical-align: top;
      padding: 2%;
      width: 80%;
      @include tablet{width: 100%;};
    }
  }

  .logo {

    a.btn-menu{
      display: inline-block;
      @include tablet{
        display: none;
      };
    }
  }


  .enlaces {

    text-align: right;
    background-color: white;
    display: none;
    @include tablet{
      display: inline-block;
      font-size: 0.8em;
    };
    @include deskNormal{font-size: 1em;};
    a {
      color: black;
      text-decoration: none;
      display: inline-block;
      padding: 1em;
      text-align: center;
      font-size: 1em;
      width: 100%;
      @include tablet{
        width: auto;
      };
      // @include deskNormal{
      //   width: auto;
      // };
    }
    i {
      margin-right: 5px;
    }
    a:hover {
      background: #f2f2f2;
      color: #4357ad;
    }
  }
}


@media screen and (max-width: 700px) {
  header .menu {
    flex-direction: column;
    .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em;

    }
    .enlaces {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 360px) {
  header .menu {
    flex-direction: column;
    .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 1em;
    }
    .enlaces {
      width: 100%;
      display: none;
      flex-direction: column;
      /* flex-direction: row; */
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
}

.modal-login{
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  &-background{background-color: black;opacity: 0.9;position: fixed !important;top: 0 !important;left: 0;right: 0;bottom: 0;}
  &-content{width: 30%;height: 67%;display:block;margin: 0 auto;background-color: white;box-sizing: border-box;padding: 2em;text-align: center;top: 9em!important;vertical-align: middle;
    h1{top: 1em;
      text-align: center;font-family: 'Nexa';top: 2em;
    }
    a{background-color: #0981fa;width: 11em;display: block;margin:0 auto;font-family: 'Open Sans';border:none;color: white;font-weight: 100;font-size: 1em;top: 10em;position: relative;
      @include tablet{width: 13em;padding: 0.5em;margin: 0 auto;top: 9em;}
      @include deskNormal{position: relative;top: 15em;};
      @include deskGrande{top: 16em;};
      @include deskExGrande{top: 17em;};
    }
    button{width: 10em;top: 4em;background-color: #0981fa;padding: 2%;margin: 0 auto;width: 11em;display: block;font-family: 'Open Sans';border:none;color: white;font-weight: 100;font-size: 1em;position: relative;
      @include tablet{top:2em;};
      @include deskNormal{top: 4em;};
      @include deskGrande{width: 12em;top: 6em;};
      @include deskExGrande{width: 12em;top: 8em;};

    }

    }
  }
