.loadingActive{display: block !important;}
.loadingDesactive{display: none !important;}
.loading{
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  &-background{background-color: black;opacity: 0.8;position: fixed !important;top: 0 !important;left: 0;right: 0;bottom: 0;}
  &-content{width: 60%;height: 20em;display:block;margin: 0 auto;box-sizing: border-box;padding: 2em;text-align: center;top: 35%!important;position: relative;
  img{width: 25%;}
  }
}
