section{
  .not-found{width: 90%;
    padding-bottom: 1%;
    margin: 0 auto;
    position: static;
    padding-top: 35%;
    height: fit-content;
    @include tablet{padding-top: 20%;};
    @include deskNormal{padding-top: 11%;};
    h1{font-family: 'Nexa';font-size: 2em;text-align: center;}
    img{width: 100%;
      @include deskNormal{height: -webkit-fill-available;width: 50%;margin: 0 auto;position: relative;display: block;};
    }
  }
}
