.sectionInfo{@include tablet{width: 70%;margin:0 auto;position: static;display: flex;flex-direction: column;margin-top: 10%;margin-bottom: 2%;};
  div{@include tablet{display: flex;flex-direction: row;flex-wrap: nowrap;};
    a{width: 25%;padding: 0.5%;text-align: center;text-decoration: none;cursor: pointer;color: black;
      @include tablet{font-size: 0.6em;};
    }
  }
  section{padding: 2em 0;
    img{margin:0 auto;position: relative;display: block;padding-bottom: 2%;
      @include tablet{width: 9em;};
    }
    button{margin:0 auto;position: relative;display: block;border:none;background-color: #efefed;padding: 0.5%;border-radius: 15px;
      @include tablet{width: 22%;};
    }
  }
}
.active{color: white !important;
background: rgba(0,212,168,1);
background: -moz-linear-gradient(left, rgba(0,212,168,1) 0%, rgba(0,131,255,1) 82%, rgba(0,131,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,212,168,1)), color-stop(82%, rgba(0,131,255,1)), color-stop(100%, rgba(0,131,255,1)));
background: -webkit-linear-gradient(left, rgba(0,212,168,1) 0%, rgba(0,131,255,1) 82%, rgba(0,131,255,1) 100%);
background: -o-linear-gradient(left, rgba(0,212,168,1) 0%, rgba(0,131,255,1) 82%, rgba(0,131,255,1) 100%);
background: -ms-linear-gradient(left, rgba(0,212,168,1) 0%, rgba(0,131,255,1) 82%, rgba(0,131,255,1) 100%);
background: linear-gradient(to right, rgba(0,212,168,1) 0%, rgba(0,131,255,1) 82%, rgba(0,131,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4a8', endColorstr='#0083ff', GradientType=1 );
}
.border{border-left: 2px solid #00d4a8;
border-right: 2px solid #0083ff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
background-position: 0 0, 0 100% ;
background-repeat: no-repeat;
-webkit-background-size: 100% 20px;
-moz-background-size: 100% 20px;
background-size: 100% 2px;
background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
background-image: -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -webkit-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
background-image: -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -moz-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
background-image: -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%), -o-linear-gradient(left, #00d4a8 0%, #0083ff 100%);
background-image: linear-gradient(to right, #00d4a8 0%, #0083ff 100%), linear-gradient(to right, #00d4a8 0%, #0083ff 100%);}

.configuracion{
  h6{left: 5%;position: relative;font-family: 'Open Sans', sans-serif;}
  img{width: 90% !important;}
  b{left: 5%; position: relative;font-size: 0.8em;}
  .profile{
    width: 15% !important;
  }
  article{margin:0 auto;width: 17em;margin-top: 0.5em;position: relative;flex-wrap: nowrap;display: flex;flex-direction: row;
    span{padding-right: 5%;width: 8em;}
    input{background-color: #efefed;border-radius: 15px;border:none;width: 11em;height: 1.5em;padding: 0 5%;}
    select{border:none;background-image: none;background-color: #efefed;width: 14em;height: 1.5em;border-radius: 15px;padding: 0 5%;}
  }
}
.contacto{
  article{margin:0 auto;width: 17em;margin-top: 0.5em;position: relative;flex-wrap: nowrap;display: flex;flex-direction: row;}
  h6{left: 5%;position: relative;font-family: 'Open Sans', sans-serif;}
  img{width: 90% !important;}
  button{border-radius: 15px;border:none;}
  div{margin: 0 auto;position: relative;width: 16em;
    a{background-color: #0076fe;padding: 1%;color: white !important;border-radius: 15px;position: relative;display: block;width: 11em;text-align: center;font-size: 0.8em;}
    .salir{background-color: #01ddaa;width: 8em;margin-right: 2%;}
  }

}
