.preventa{margin-bottom: 8%;
  @include tablet{margin-bottom: 75%;};
  @include deskNormal{display: flex;flex-direction: column;position: static;margin-bottom: 91%;};
  @include deskGrande{margin-bottom:  106%;}
  @include deskExGrande{margin-bottom:  109%;}
}
.slider-prev{
  @include mobile {display: inline-block;position: relative;top: 25em;}
  @include tablet {display: none;}
  @include deskNormal {display: none;}
  @include deskGrande {display: none;}
  @include deskExGrande {display: none;}
}
.preventa-inmueble{background-image: url('../sass/image/inmuebles_desk.png');
  background-repeat: no-repeat;background-size: cover;display: block;
  @include mobile {height: 6em;}
  @include tablet {height: 12em;}
  @include deskNormal {height: 21em;}
  @include deskGrande {height: 25em;}
  @include deskExGrande {height: 29em;}
  img{width: 11em;left: 2em;top: 2.5em;position: relative;z-index: 999;
      @include tablet {width: 11em;position: absolute;top: 2.5em;left: 5em;}
      @include deskNormal {display: none;}
      @include deskGrande {display: none;}
      @include deskExGrande {display: none;}
  }
  div{position: relative;top: 4em;
    @include tablet {position: relative;top: 11em;}
    @include deskNormal {top: 18em;}
    p:nth-child(1){
      @include mobile{text-align: center;font-size: 1.5em;top: 3em;position: relative;line-height: 27px;display: block;margin:0 auto;width: 12em;margin-bottom: 1em;}
      @include tablet {width: 18em;text-align: center;margin: 0 auto;position: relative;font-size: 1.5em;}
      @include deskNormal {font-size: 2.5em;}
      @include deskGrande {font-size: 3em;top: 1em;}
      @include deskExGrande {font-size: 4.5em;top: 2em;}
      font-family: 'Open Sans';
      font-weight: 100;
      b{font-family: 'Nexa';}
    }
    p:nth-child(2){
      background-color: #797979;color: white;font-family: 'Open Sans';
      @include mobile{display: none;}
      @include tablet {display: block;font-size: 0.8em;width: 29em;position: relative;text-align: center;margin: 0 auto;}
      @include deskNormal {font-size: 1.2em;}
      @include deskGrande {font-size: 1.7em;top: 1.5em;}
      @include deskExGrande {font-size: 2.3em;top: 3.5em;}
    }
    p:nth-child(3){
      font-family: 'Open Sans';
      @include mobile{font-size: 0.8em;position: relative;top: 10.5em;width: 19em;text-align: justify;background-color: #dadada;display: block;padding: 2%;margin:0 auto;}
      @include tablet {font-size: 0.7em;width: 29em;background-color: #dadada;padding: 1%;position: relative;top: 0.5em;margin: 0 auto;display: block;}
      @include deskNormal {font-size: 1.1em;}
      @include deskGrande {font-size: 1.6em;top: 2em;}
      @include deskExGrande {font-size: 2em;top: 4.5em;}
    }
    p:nth-child(4){
      @include mobile {display: block;font-family: 'Open Sans';font-weight: 100;font-size: 1em;background-color: #797979;color: white;padding: 1%;position: relative;width: -webkit-fit-content;width: -moz-fit-content;width: fit-content;margin: 0 auto;top: -3.2em;}
      @include tablet {display: none;}
      @include deskNormal {display: none;}
      @include deskGrande {display: none;}
      @include deskExGrande {display: none;}
    }
    p:nth-child(5){
      @include mobile {display: block;font-family: 'Open Sans';font-weight: 100;font-size: 1em;background-color: #797979;color: white;padding: 1%;position: relative;margin: 0 auto;top: -3em;width: -webkit-fit-content;width: -moz-fit-content;width: fit-content;}
      @include tablet {display: none;}
      @include deskNormal {display: none;}
      @include deskGrande {display: none;}
      @include deskExGrande {display: none;}
    }
    button{
      @include mobile {top: 6em;padding: 2%;display: block;margin:0 auto;}
      color:white;
      border: none;
      cursor: pointer;
      border-radius: 15px;
      position: relative;
      font-weight: 600;
      background: rgba(0,212,168,1);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,212,168,1)), color-stop(18%, rgba(0,191,191,1)), color-stop(69%, rgba(0,132,255,1)), color-stop(100%, rgba(0,132,255,1)));
      background: -webkit-gradient(linear, left top, right top, from(rgba(0,212,168,1)), color-stop(18%, rgba(0,191,191,1)), color-stop(69%, rgba(0,132,255,1)), to(rgba(0,132,255,1)));
      background: linear-gradient(to right, rgba(0,212,168,1) 0%, rgba(0,191,191,1) 18%, rgba(0,132,255,1) 69%, rgba(0,132,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4a8', endColorstr='#0084ff', GradientType=1 );
      @include tablet {top: 2em;font-size: 0.6em;width: 9em;height: 2em;margin: 0 48em;display: block;}
      @include deskNormal {display: block;top: 3em;font-size: 0.8em;width: 10em;margin: 0 auto;position: relative;}
      @include deskGrande {font-size: 1.2em;margin: 0 auto !important;position: relative !important;display: block;left: 0 !important;}
      @include deskExGrande {font-size:1.5em;top: 7em;}
    }
  }
  &-two{display: block;
    @include tablet {position: relative;top: 13em;}
    @include deskNormal {top: 22em;}
    @include deskGrande {top: 26em;}
    @include deskExGrande {top: 38em;}
    .middle{display: block;position: relative;text-align: center;width: 100%;
      @include tablet{top: 0;};
      @include deskNormal{top: 11em; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */-webkit-box-flex: 1;flex: 1;};
      article{@include deskNormal{margin: 5%;top: -15em;left: 0;} }
    }
    .circles-one{  @include deskNormal{margin:0 auto;top: 9em; /* Safari 6.1+ */-ms-flex: 1; /* IE 10 */-webkit-box-flex: 1;flex: 1;};}
    p{
      text-align: center;
      font-family: 'Open Sans';
      font-weight: 100;
      @include mobile{display: none;}
      @include tablet {display: none;}
      @include deskNormal {display: block;font-size: 2.5em;}
      @include deskGrande {font-size: 3em;}
      @include deskExGrande {font-size: 4.5em;}
      b{font-family: 'Nexa';}
    }
    p:nth-child(2){
    @include mobile{display: block;position: relative;top: 16em;font-size: 1.5em;}
    @include tablet {display: block;position: relative;text-align: center;font-size: 1.5em;margin-bottom: -0.5em;}
    @include deskNormal {display: none;}
    }
    p:nth-child(3){
      @include mobile{display: block;top: 15em;position: relative;font-size: 1.5em;}
      @include tablet {display: block;position: relative;text-align: center;font-size: 1.5em;margin-bottom: -0.5em;}
      @include deskNormal {display: none;}
      @include deskExGrande {display: none;}
    }
    .slider-2{position: relative;top: 3em;width: 17em;height: 28em;margin: 0 auto;
      @include tablet {display: none;}
      @include deskNormal {display: none;}
      @include deskExGrande {display: none;}
      .slick-dots{display: none !important;}
      .h4{left: 2.7em !important;}
      .slick-slide{left: -1em;
        img:nth-child(1){margin: 1.7em;position: relative;top: 6em;left:0.2em;}
        p{position: relative;top: 5.4em;font-size: 0.8em;left: -2em !important;width: 12em;}
      }
    }
    .slider-tablet-2{display: none;
      @include tablet {display: block !important;position: relative;top: 15em;width: 39em;height: 0em;margin: 0 auto;}
      @include deskNormal {display: none !important;}
      @include deskExGrande {display: none;}
      .slick-dots{display: none !important;}
      .h4{left: 2.7em !important;}
      .slick-slide{left: -1em;
        img:nth-child(1){margin: 1.7em;position: relative;top: 6em;left:0.2em;
          @include tablet{left: -3.6em;width: 11em !important;}
        }
        p{position: relative;top: 5.4em;font-size: 0.8em;left: -2em !important;width: 12em;
          @include tablet{display: block;left: -7em !important;font-size: 0.8em;line-height: 1.2em;top: 6em;font-weight: 400;}
        }
      }
    }
    .slider-3{position: relative;top: 15em;width: 17em;height: 28em;margin: 0 auto;
      @include tablet {display: none}
      @include deskNormal {display: none;}
      @include deskExGrande {display: none;}
      .slick-dots{display: none !important;}
      .h4{left: 2.7em !important;}
      .slick-slide{left: -1em;

        img:nth-child(1){margin: 1.7em;position: relative;top: 6em;}
        h4{position: relative;left: 3em;top: -1.5em;font-size: 2em;color: white;}
        p{position: relative;top: -4.6em;font-size: 0.9em;left: -2em;color: white;}
        b{position: relative;left: 4.5em;top: -4.5em;color: white;}
      }
    }
    .circle-blue{display: none;
      @include tablet{width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 10em;
        justify-content: center;
        top: 4em;
      };
      @include deskGrande{top: 2em;};
      div{@include tablet{width: 12em;top: 0;margin: 0 2%;justify-content: center;flex-direction: column;}
         @include deskNormal{margin: 0 1%;width: 14em;};
         @include deskGrande{width: 18em;};
        img{@include tablet{z-index: -1;position: absolute;};
          @include deskNormal{width: 14em;};
          @include deskGrande{width: 18em;};
        }
        h4{@include tablet{position: relative;text-align: center;top: 1.5em;color: white;font-size: 2em;};
          @include deskNormal{display: block;text-align: center;color: white;font-size: 3em;font-weight: 400;padding-top: 20%;top: 0em;};
        }
        p{@include tablet{display: block !important;font-size: 1.1em !important;top: 3em!important;left: -1em;color: white;};
          @include deskNormal{display: block !important;text-align: center!important;color:white!important;top: 0em!important;left: 0em;font-size: 1.3em!important;width: 8em!important;};}
        b{@include tablet{top: 4em;position: relative;color: white;left: 4em;};
          @include deskNormal{display: block;text-align: center;color:white;top: 1em;left: 0em;};}
      }
    }
    article{display: none;
      @include tablet {display: inline;position: relative;top: 1em;margin:0 5%;}
      @include deskNormal {top: 2em;}
      @include deskExGrande {top: 2.5em;}
      img{position: absolute;width: 13em;z-index: -1;
        @include tablet {width: 9em;text-align: center;display: block;}
        @include deskNormal {width: 13em;}
        @include deskGrande {width: 18em;}
        @include deskExGrande {width: -webkit-fill-available;}
      }
      h4{color:white;position: absolute;font-family: 'Open Sans';
        @include tablet {left: 2em;top: 0.8em;font-size: 2em;}
        @include deskNormal {font-size: 3em;}
        @include deskGrande {font-size: 5em;left: 1.5em;}
        @include deskExGrande {font-size: 6em;}
      }
      p{position: absolute;color: white;
        @include tablet {top: 5em;left: 1.5em;font-size: 0.8em!important;display: inline !important;}
        @include deskNormal {font-size: 1.2em !important;display: block;top: 4.7em;}
        @include deskGrande {font-size: 1.7em !important;top: 5.2em;}
        @include deskExGrande {font-size: 2em !important;}
      }
      b{position: absolute;color: white;font-family: 'Nexa';
        @include tablet {top: 6em;left: 2.5em;font-size: 0.9em;width: 6em;}
        @include deskNormal {font-size: 1.2em;left: 2.8em}
        @include deskGrande {font-size: 2em;left: 2em;top: 5.5em;}
        @include deskExGrande {font-size: 2.4em;}
      }
    }
    .slider-uno{
      img{width: 14em;}
      h4{position: relative;text-align: center;display: block;top: 2.5em;font-size: 4em;left: -0.7em;font-weight: 100;}
      p{position: relative;display: block;text-align: center;top: 6.5em;left: -2em;font-size: 1.3em;}
      b{position: relative;font-size: 1.5em;left: 3em;top: 5em;}
    }

    div{position: relative;
      @include tablet {top: -3em;width: 80%;margin:0 auto;}
      @include deskNormal {top: 15em;}
      @include deskGrande {top: 20em;}
      @include deskExGrande {top: 23em;}
      p{display: none;
        @include tablet {display: block;font-size: 1.5em;position: relative;top: 8em;width: 14em;margin:0 auto;}
        @include deskNormal {display: block;font-size: 2.5em;top: -1em;}
        @include deskGrande {font-size: 3em;top: -2em;}
        @include deskExGrande {font-size: 4.5em;}
      }
      p:nth-child(2){display: block;position: relative;margin: 0 auto;font-size: 1.5em;top: 6em;
        @include tablet {display: none;}
        @include deskNormal {display: none;}
        @include deskGrande {display: none;}
        @include deskExGrande {display: none;}}
      p:nth-child(3){display: block;position: relative;margin: 0 auto;font-size: 1.5em;top: 5em;
        @include tablet {display: none;}
        @include deskNormal {display: none;top: 4.5em;}
        @include deskGrande {display: none;top: 5.5em;}
        @include deskExGrande {display: none;}}
    }
    .circle-dos{display: none;
      @include tablet{display: none;};
      @include deskNormal{width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 10em;
      justify-content: center;
      top: 15em;
      margin-bottom: 8em;}
      div{@include deskNormal{height: 17em;width: 12em;top: 0;margin: 0 2%;justify-content: center;display: -webkit-box;display: -ms-flexbox;display: flex;align-items: flex-end;}
         @include deskGrande{width: 14em;margin: 0 2%;width: 18em;};
        img{@include deskNormal{z-index: -1;position: absolute;};
          @include deskGrande{width: 18em;};
        }
        p{@include tablet{display: inline;position: relative;font-size: 0.8em;width: 15em;top: 4em;}
          @include deskGrande{font-size: 1.2em;};
        }
      }
      .circle2{@include tablet {display: none;}
        @include deskNormal {display: inline-block;top: 5.5em;width: 25%;text-align: center;margin:0 5%;}
        @include deskGrande {top: 4em;}
        @include deskExGrande {top: 12.5em;}
        p{color: black;position: relative;left: 0!important;text-align: center;
          @include tablet {width: 15em;top: 13em;left: -1em;font-size: 0.7em;font-weight: 400;}
          @include deskNormal {font-size: 1em;display: inline-block;font-size: 0.9em !important;top: 15em;}
          @include deskGrande {font-size: 1.3em !important;top: 14.8em;}
          @include deskExGrande {top: 12em;font-size: 1.5em !important;}
        }
      }
      .circle3{@include tablet {display: none;}
        @include deskNormal {display: inline-block;top: 5.5em;width: 25%;text-align: center;margin:0 2%;}
        @include deskGrande {top: 4em;}
        @include deskExGrande {top: 12.5em;}
        p{color: black;position: relative;
          @include tablet {width: 16em;top: 13em;left: -1em;font-size: 0.7em;font-weight: 400;}
          @include deskNormal {font-size: 0.9em !important;display: inline-block;left: 0;top: 15em;}
          @include deskGrande {font-size: 1.3em !important;}
          @include deskExGrande {font-size: 1.5em !important;top: 12em;}
        }
      }
      .circle4{@include tablet {display: none;text-align: center;}
          @include deskNormal {top: 20em;display: inline-block;position: relative;margin:0 16%;}
          @include deskGrande {top: 26em;}
          @include deskExGrande {top: 32em;width: 25%;}
        p{color: black;position: absolute;
          @include tablet {width: 16em;top: 13em;left: -1em;font-size: 0.7em;font-weight: 400;}
          @include deskNormal {font-size: 0.9em !important;display: inline-block;top: 15em;}
          @include deskGrande {font-size: 1.3em!important;}
          @include deskExGrande {top: 14em;left: 0;}
        }
      }
      .circle5{@include tablet {display: none;}
          @include deskNormal {top: 20em;display: inline-block;position: relative;margin: 0 16%;}
          @include deskGrande {top: 26em;}
          @include deskExGrande {top: 32em;width: 25%;float: right;}
        p{color: black;position: absolute;
          @include tablet {width: 16em;top: 13em;left: -1em;font-size: 0.7em;font-weight: 400;}
          @include deskNormal {font-size: 0.9em !important;display: inline-block;top: 15em;}
          @include deskGrande {font-size: 1.3em !important;}
          @include deskExGrande {top: 14em;}
        }
      }
      &-down{display: none;
        @include tablet{display: none;}
        @include deskNormal{width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 10em;
        justify-content: center;
        top: 15em;
        margin-bottom: 8em;}
        @include deskGrande{top: 21em;};
        div{@include deskNormal{height: 17em;width: 12em;top: 0;margin: 0 2%;justify-content: center;display: -webkit-box;display: -ms-flexbox;display: flex;align-items: flex-end;}
           @include deskGrande{margin: 0 2%;width: 18em;};
          img{@include deskNormal{z-index: -1;position: absolute;};
            @include deskGrande{width: 18em;};
          }
          p{@include tablet{display: inline;position: relative;font-size: 0.8em;top: 8em;width: 15em;}}
            @include deskGrande{font-size: 1.2em;};
          }
      }
    }
  }
  &-three{
    position: relative;
    @include tablet {top: 40em;}
    @include deskNormal {top: 45em;}
    @include deskGrande {top: 57em;}
    @include deskExGrande {top: 69em;}
    p{font-family: 'Open Sans';font-size: 2em;
      @include mobile {position: relative;display: block;margin: 0 auto;text-align: center;}
      @include tablet {text-align: center;}
      @include deskNormal {font-size: 3em;}
      @include deskGrande {font-size: 4em;}
      @include deskExGrande {font-size: 5em;}
      b{font-family: 'Nexa';}
    }
    p:nth-child(2){font-family: 'Open Sans';position: relative;display: block;margin: 0 auto;
      @include mobile {font-size: 0.8em;background-color: #dedede;width: 20em;padding: 2%;margin-bottom: 0.5em;}
      @include tablet {font-size: 0.7em;width: 34em;background-color: #dedede;top:-1em;padding: 1%;}
      @include deskNormal {font-size: 1.3em;width: 36em;top: -0.5em;display: block;margin: 0 auto;position: relative;}
      @include deskGrande {font-size: 1.5em;}
      @include deskExGrande {font-size: 2em;}

    }
    div{background-color:#0197eb;color: white;positidon: relative;border-radius: 15px;bottom: 1em;display: block;margin:0 auto;margin: 0 auto;margin-bottom: 0.5em;
      @include mobile {width: -webkit-fit-content;width: -moz-fit-content;width: fit-content;top: 1em;margin-bottom: 0.2em;}
      @include tablet {top: 8.5em;height: 1.5em;padding-top: 0.5%;width: 26em;}
      @include deskNormal {top: 0.5em;height: 1.6em;width: 31em;padding: 0.3% 3%;font-size: 1.5em;}
      @include deskGrande {width: 36.2em;height: 2em;font-size: 1.5em;border-radius: 25px;}
      @include deskExGrande {font-size: 2em;width: 36.5em;}
      p{@include mobile {font-size: 0.7em;padding: 0 2%;width: 28em;}
        @include tablet {font-size: 0.8em;}
        @include deskNormal {font-size: 0.8em;}
        @include deskGrande {font-size: 1em;}
        img{@include mobile {width: 4em;}
        }
      }
    }
    .up1{
      @include tablet {top:10.5em;}
      @include deskNormal {top: 1em;}
    }
    .up2{
      @include tablet {top:12.5em;}
      @include deskNormal {top: 1.5em;}
      @include deskGrande {top: 2em;}
    }
    .up3{
      @include tablet {top:14.5em;}
      @include deskNormal {top: 2em;}
      @include deskGrande {top: 3em;}
    }
    article{
      span{position: relative;font-family: 'Open Sans';
        @include mobile {display:block;margin: 0 auto;width: 18em;top: 2em;font-size: 0.8em;}
        @include tablet {top: 1em;font-size: 0.8em;text-align: center;position: relative;display: block;}
        @include deskNormal {top: 3em;font-size: 1.2em;text-align: center;display: block;}
        @include deskGrande {font-size: 1.5em;}
        @include deskExGrande {font-size: 1.7em;}
        b{
          @include tablet {font-family: 'Nexa';}
        }
      }
      b:nth-child(2){font-family: 'Nexa';position: relative;display: block;text-align: center;
        @include mobile {display:block;margin: 0 auto;width: 18em;top: 2em;font-size: 0.8em;}
        @include tablet {top: 0.8em;font-size: 0.8em;}
        @include deskNormal {top: 3em;font-size: 1.2em;}
        @include deskGrande {font-size: 1.5em;}
        @include deskExGrande {font-size: 1.7em;}
      }
    }
  }
  &-four{
    position: relative;display: block;
    @include tablet {top: 40em;}
    @include deskNormal {top: 51em;width: 100%;}
    @include deskGrande {top: 69em;}
    @include deskExGrande {top: 80em;}
    .middle{@include deskNormal{display: -webkit-box;display: -ms-flexbox;display: flex;width: 90%;margin: 0 auto;};}
    h4{font-family: 'Open Sans';font-weight: 100;text-align: center;position: relative;display: block;margin: 0 auto;
      @include mobile {top: 3em;width: 14em;}
        @include tablet {font-size: 1.5em;top: 1em;}
        @include deskNormal {font-size: 3em;text-align: center;position: relative;display: block;margin:0 auto;top: 0;}
        @include deskGrande {font-size: 4em;}
        @include deskExGrande {}
      b{font-family: 'Nexa';
        @include tablet {font-size: 1.1em;}
        @include deskNormal {font-size: 1.1em;}
      }
    }
    ul{@include tablet{top: -13em;};
      @include deskNormal{top:0;list-style: none;};
      li{list-style: none;}
    }
    article{
      @include mobile {display: none;}
      @include tablet {display: none;}
      @include deskNormal {display: inline-block;width: 20%;position: relative;top: 5em;margin:0 5%}
      img{position: absolute;
        @include tablet {width: 9em;z-index: -1;left: -2.5em;top: -2em;}
        @include deskNormal {width: 13em;}
        @include deskGrande {width: 16em;}
        @include deskExGrande {width: 18em;}
      }
      p{position: absolute;text-align: center;font-family: 'Open Sans';
        @include tablet {top: 12em;left: -4.5em;font-size: 0.6em;width: 16em;}
        @include deskNormal {font-size: 0.9em;}
        @include deskGrande {font-size: 1.2em;}
        @include deskExGrande {font-size: 1.4em;width: 15em;left: -3.5em}
      }
    }

    .slider-4{position: relative;width: 17em;height: 28em;margin: 0 auto;top: 0;
      @include tablet{display: none;}
      .slick-dots{display: none !important;}
      .slick-slide{left: -1em;
        img:nth-child(1){margin: 0.7em;position: relative;top: 6em;}
        p{position: relative;top: 7em;font-size: 0.8em;left: 0em;width: 15em;text-align: center;font-family: 'Open Sans'}
      }
    }
    .slider-tablet{display: none;
      @include tablet{display: block!important;position: relative;width: 17em;height: 28em;margin: 0 auto;top: -3em;width: 38em;};
      @include deskNormal{display: none !important;};
      .slick-dots{display: none !important;}
      .slick-list{@include tablet{height: 23em;}}
      .slick-slide{left: -1em;
        img:nth-child(1){margin: 0.7em;position: relative;top: 6em;width: 11em !important;}
        p{position: relative;top: 7em;font-size: 0.8em;left: 0em;width: 15em;text-align: center;font-family: 'Open Sans'}
      }
    }
    .buttons{width: 100%;text-align: center;top: 0;position: relative;@include tablet{top: -15em;}@include deskNormal{top: 14em;};@include deskGrande{top: 21em;};
      button{color:white;
      border: none;
      cursor: pointer;
      border-radius: 15px;
      position: relative;
      font-weight: 400;
      font-family: 'Open Sans';
      letter-spacing: 1px;
      background: rgba(0,212,168,1);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,212,168,1)), color-stop(18%, rgba(0,191,191,1)), color-stop(69%, rgba(0,132,255,1)), color-stop(100%, rgba(0,132,255,1)));
      background: -webkit-gradient(linear, left top, right top, from(rgba(0,212,168,1)), color-stop(18%, rgba(0,191,191,1)), color-stop(69%, rgba(0,132,255,1)), to(rgba(0,132,255,1)));
      background: linear-gradient(to right, rgba(0,212,168,1) 0%, rgba(0,191,191,1) 18%, rgba(0,132,255,1) 69%, rgba(0,132,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4a8', endColorstr='#0084ff', GradientType=1 );
      margin:2% 5%;padding: 1%;
      @include tablet{font-size: 0.6em;width: 23%;top: 14em;};
      @include deskNormal{margin:0 5%;padding: 1%;font-size: 1em;width: 23.3%;};}
      @include deskExGrande{top: 29em;};
    }
    ul{@include tablet {position: relative;}
      li{
        button{
          color:white;
          border: none;
          cursor: pointer;
          border-radius: 15px;
          position: relative;
          font-weight: 400;
          font-family: 'Open Sans';
          letter-spacing: 1px;
          background: rgba(0,212,168,1);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,212,168,1)), color-stop(18%, rgba(0,191,191,1)), color-stop(69%, rgba(0,132,255,1)), color-stop(100%, rgba(0,132,255,1)));
          background: -webkit-gradient(linear, left top, right top, from(rgba(0,212,168,1)), color-stop(18%, rgba(0,191,191,1)), color-stop(69%, rgba(0,132,255,1)), to(rgba(0,132,255,1)));
          background: linear-gradient(to right, rgba(0,212,168,1) 0%, rgba(0,191,191,1) 18%, rgba(0,132,255,1) 69%, rgba(0,132,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4a8', endColorstr='#0084ff', GradientType=1 );
          @include mobile {display: block;margin: 0 auto;width: 16em;padding: 0.6%;font-weight: 600;height: 2.1em;margin-top: 0.5em;}
          @include tablet {padding: 1%;font-size: 0.7em;left: 9em;top:15em;}
          @include deskNormal {font-size: 0.9em;top: 31em;left: 19em;font-weight: 600;}
          @include deskGrande {top: 31em;left: 18em;font-size: 1.2em;}
          @include deskExGrande {top: 29em;left: 16em;font-size: 1.5em;}
        }
      }
      li:nth-child(2){
        button{
          @include tablet {left: 28em;top: 12.2em;}
          @include deskNormal {left: 38em;top: 27.6em;}
          @include deskGrande {left: 37em;top: 27.8em;}
          @include deskExGrande {left: 33em;top: 25.9em;}
        }
      }
      li:nth-child(3){
        button{
          @include tablet {left: 45em;top: 9.4em;}
          @include deskNormal {left: 56em;top: 24.3em;}
          @include deskGrande {left: 55em;top: 24.5em;}
          @include deskExGrande {left: 49em;top: 22.8em;}
        }
      }
    }
  }
  &-five{position: relative;background-image: url('../sass/image/pie_Preventa_Inmuebles_desk.png');background-size: cover;background-repeat: no-repeat;
    @include mobile {top: 2em;height: 9em;padding-top: 3%;}
    @include tablet {top: 36em;height: 14em;}
    @include deskNormal {top: 82em;height: 26em;}
    @include deskGrande {top: 110em;height: 31em;}
    @include deskExGrande {top: 131em;height: 36em;}
    p{font-family: 'Open Sans';font-weight: 100;color: white;position: relative;text-align: center;display: block;
      @include mobile {font-size: 1.5em;}
      @include tablet {top: 2em;font-size: 1.7em;}
      @include deskNormal {font-size: 3em;top: 2em;}
      @include deskGrande {top: 1.5em;font-size: 4em;}
      b{font-family: 'Nexa';}
    }
    ul{margin-bottom: 0em;
      @include tablet{position: relative;top: 1em;}
      li{
        button{background-image: url('../sass/image/boton_google.png');background-size: contain;background-repeat: no-repeat;border: none;cursor: pointer;position: relative;display: block;margin:0 auto;
          @include mobile {position: relative;display: block;margin: 0 auto;width: 8.9em;height: 1.5em;}
          @include tablet {width: 10em;height: 1.7em;top: 2em;border-radius: 5px;margin-bottom: 0.5em;}
          @include deskNormal {width: 18em;height: 3em;top: 8em;background-size: cover;}
          @include deskGrande {width: 24em;height: 4em;top: 8em;}
        }
      }
      li:nth-child(2){
        button{background-image: url('../sass/image/boton_facebook.png');position: relative;display: block;margin:0 auto;
          @include mobile {top: 0.5em;}
          @include tablet {top: 2em;}
          @include deskNormal {top: 8em;}
          @include deskGrande {}
        }
      }
    }
  }
}
