.propiedades-publicadas{padding-bottom: 2%;@include tablet{width: 70%;margin:0 auto;top: 9em;position: static;margin-bottom: 2%;};
  @include tablet{width: 70%;margin:0 auto;top: 9em;};
  @include deskNormal{margin-bottom: 2%;margin-top: 10%;};
    div{@include tablet{display: flex;flex-direction: row;flex-wrap: nowrap;};
      a{width: 25%;padding: 0.5%;text-align: center;text-decoration: none;cursor: pointer;color: black;
        @include tablet{font-size: 0.6em;};
        @include deskNormal{font-size: 0.9em;};
      }
    }
    section{padding: 2em 0;
      img{margin:0 auto;position: relative;display: block;padding-bottom: 2%;
        @include tablet{width: 90%;};
      }
      h6{left: 5%;position: relative;font-family: 'Open Sans', sans-serif;}
      button{margin:0 auto;position: relative;display: block;border:none;background-color: #efefed;padding: 0.5%;border-radius: 15px;
        @include tablet{width: 22%;};
      }
    }
}
.buscadorProp{
  background-image: url("../sass/image/fondo_buscador.png");
  @include tablet{width: 16em;padding: 2%;height: 2.5em;};
  input{@include tablet{border-radius: 15px;width: 18.5em;border:none;font-size: 0.8em;padding: 4%;};}
}
.filtrosProp{margin: 0 auto;width: 90%;padding: 3% 0;position: relative;
  article{ width: 33%;text-align: center;
      select{border:none;background-image: none;background-color: #efefed;width: 9em;height: 1.5em;border-radius: 15px;padding: 0 5%;}
  }

}
.cuadro{width: 90%;margin: 1em auto;display: block !important;
  p{width: 100%;padding: 1% 0 1% 1%;display: block;}
  aside{padding-left: 2%;display: flex;
    article{@include tablet{width: 13em;};
      p{@include tablet{text-align: center;padding: 0;margin-bottom: 0!important;};}
      img{@include tablet{padding-bottom: 11%;width: 11em;margin:0 auto;position: relative;display: block;padding-top: 5%;};}
      span{@include tablet{text-align: center;position: relative;display: block;font-size: 0.8em;background-color: #01ddaa;color: white;};}
    }
    div{flex-direction: column;padding-left: 7%;font-size: 0.8em;width: 17.5em;
      article{width: 100%;line-height: 2em;
          span{background-color: none;background-color: white !important;color: black;display: inline;float: right;}
      }
    }
  }
  .buttons{padding-bottom: 1em;}
  div{display: flex;flex-direction: row;flex-wrap: nowrap;width: 96%;margin: 0 auto;padding-top: 1em;
    button{background-color: #0077ff;color: white;padding: 2%;border:none;font-size: 0.7em;letter-spacing: 0.18em;cursor: pointer;}
    .green{background-color: #04ddaa;}
  }

}
