#emailValid{display: none ;color: red;margin: 0 auto;font-size: 0.8em;}
.errorOn{color:#e03333;position: relative;margin:0 auto;text-align: center;font-size: 0.7em;display: block;top: -1em;
  @include deskNormal{position: absolute;display: inline};
}
.errorImages{color:#e03333;font-size: 0.7em;
  @include deskNormal{position: relative;display: block;width: 29em;top: 0.5em;}
}
.content{@include tablet{display: flex;flex-direction: column;width: 48em;margin: 0 auto;};
    @include deskNormal{flex-direction: row-reverse;width: 75em;};
    @include deskGrande{width: 93em;};
    @include deskExGrande{width: 108em;};
  .borde-caracteristicas{width: 17em;position: relative;display: block;margin:0 auto;top: -3em;
    @include tablet {top: 3em;display: inline-block;margin:0;width: 18em;left: 5.5em;}
    @include deskNormal {left: 0;margin-right: 1% !important; top: 0em;width: 17em;}
    &-div{
      padding: 4%;
      width: 17em !important;
      height: auto;
      top: 5em;
      position: relative;
      border-left: 2px solid #0a3c8e;
      border-right: 2px solid #7f4cd0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fff;
      background-position: 0 0, 0 100% ;
      background-repeat: no-repeat;
      -webkit-background-size: 100% 20px;
      -moz-background-size: 100% 20px;
      background-size: 100% 2px;
      background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
      background-image: -webkit-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -webkit-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
      background-image: -moz-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -moz-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
      background-image: -o-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -o-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
      background-image: linear-gradient(to right, #0a3c8e 0%, #7f4cd0 100%), linear-gradient(to right, #0a3c8e 0%, #7f4cd0 100%);
      @include tablet{font-size: 0.9em;width: 20em !important;top: 0;text-align: left !important;padding: 2%;float: left;}
      @include deskNormal{width: 100% !important;padding: 5%;margin-bottom: 1em;top: 0em !important;}
      @include deskGrande{padding: 5% !important;left: 0;}
      @include deskExGrande{padding: 5% !important;left: -1em;}
      p{display: inline-block;font-family: 'Open Sans'; font-weight: 100;color:#3b3b3b;line-height: 1.5em;
        b{
          color:#3b3b3b;
        }
      }
      aside{position: relative;top: 1em;
        @include tablet{top: -2.5em;position: relative;}
        p{font-size: 1em;padding-right: 5%;color:#3b3b3b;}
        input{display: block;width: 9em;border-radius: 20px;border: none;background-color: #efefed;height: 1.8em;position: relative;top: -2.6em;left: 6em;
        @include tablet{width: 12.5em;}
        @include deskNormal{width: 10em;}
        }
        .slider{top: 1.7em !important;left: -1em;height: 1.9em !important;@include tablet{top: 1.7em !important;left: 2.5em;}}
        .errorOn{margin-top: -4.6em;font-size: 0.6em;top: 0.5em;
          @include deskNormal{left: 12em;top: 7.5em;}
        }
      }
      aside:nth-child(2){top: 0em;position: relative;
        @include tablet{top: 0em;position: relative;height: 5em;}
        @include deskNormal{top: 0.2em;}
        p{font-size: 1em;top: 0em;position: relative;
          @include tablet{top: 0em;}
          @include deskNormal{left: 0;top: 0em;}
        }
        input{display: block;width: 9em;border-radius: 20px;border: none;background-color: #efefed;height: 1.8em;position: relative;top: -2.6em;left: 6em;
        @include tablet{width:12.5em;padding-left: 2%;}
        @include deskNormal{width: 10em;left: 6em;}
        }
        .slider{z-index: 999;}
        .errorOn{font-size: 0.6em;top: 0.2em;
          @include deskNormal{top: 7.2em;};
        }
      }

      article{position: relative;margin-bottom: -4.5em;margin-top: 1em;top: 3.5em;height: 7em;
        @include tablet{top: 1.5em;line-height: 0.1em;height: 3.5em;display: block;margin-bottom: 1.2em;}
        @include deskNormal{top: 0.5em;display: block;}
        p{position: relative;text-align: left;display: block;top: -3.5em;margin-bottom: 0.4em;
          @include tablet{top: -4.5em;line-height: 1.2em;}
          @include deskNormal{line-height: 1.2em;}
        }
        p:nth-child(2){position: relative;top: -4em;
          @include tablet{top: -5em;}
        }
        p:nth-child(3){position: relative;text-align: right;display: block;top: -6.5em;
          span{top: 0.7em;position: relative;
          }
        }
        input{top: -7em;position: relative;background-image: url("../sass/image/linea_range.png");
        @include tablet{top: -6em;}
        @include deskNormal{top: -6.5em;}
        }
      }
      .article{
        margin-bottom: -3em;
      }
      button{background-color: #0a3c8e;width: 4.5em;border: none;border-radius: 25px;color: white;position: relative;left: 11em;height: 2em;
        @include tablet{width: 5em;left: 14em;height: 2.3em}
        @include deskNormal{left: 12em;}
        @include deskGrande{left: 9.5em;width: 3em;height: 1.3em;font-size: 1.3em;}
        @include deskExGrande{left: 9.5em;width: 4em;height: 1.8em;};
      }
      .input-range__slider {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background: #7f4cd0;
        border: 1px solid #7f4cd0;
        border-radius: 100%;
        cursor: pointer;
        display: block;
        height: 1rem;
        margin-left: -0.5rem;
        margin-top: -0.65rem;
        outline: none;
        position: absolute;
        top: 50%;
        -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
        transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
        transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
        width: 1rem; }
        .input-range__slider:active {
          -webkit-transform: scale(1.3);
                  transform: scale(1.3); }
        .input-range__slider:focus {
          box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
        .input-range--disabled .input-range__slider {
          background: #cccccc;
          border: 1px solid #cccccc;
          box-shadow: none;
          -webkit-transform: none;
                  transform: none; }

      .input-range__slider-container {
        -webkit-transition: left 0.3s ease-out;
        transition: left 0.3s ease-out; }

      .input-range__label {
        color: #aaaaaa;
        font-family: "Helvetica Neue", "san-serif";
        font-size: 0.8rem;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        white-space: nowrap; }

      .input-range__label--min,
      .input-range__label--max {
        bottom: -1.4rem;
        position: absolute;
        @include tablet{bottom: -0.4rem;};
        @include deskNormal{bottom: -0.4rem};
      }

      .input-range__label--min {
        left: 0;
        @include tablet{left: 9px;};
      }

      .input-range__label--max {
        right: 0; }

      .input-range__label--value {
        position: absolute;
        top: -1.8rem; }

      .input-range__label-container {
        left: -50%;
        position: relative;
        @include tablet{left: 0em !important;};
      }
        .input-range__label--max .input-range__label-container {
          left: 50%; }

      .input-range__track {
        background: #eeeeee;
        border-radius: 0.3rem;
        cursor: pointer;
        display: block;
        height: 0.3rem;
        position: relative;
        -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
        transition: left 0.3s ease-out, width 0.3s ease-out; }
        .input-range--disabled .input-range__track {
          background: #eeeeee; }

      .input-range__track--background {
        left: 0;
        margin-top: -0.15rem;
        position: absolute;
        right: 0;
        top: 50%; }

      .input-range__track--active {
        background: #7f4cd0; }

      .input-range {
        height: 1rem;
        position: relative;
        width: 100%;
        top: -4em;
      }
    }

    .two{top: -2.8em !important;position: relative;left: 11em;
      div{left:-0.2em}
      .slider{@include tablet{top: 1.7em !important; left: 3.5em;}}
    }
    .switch {
        position: absolute;
        display: inline-block;
        width: 61px;
        height: 26px;
        left: 12em;top: -2.8em;
        @include tablet{left: 13.5em;};
        @include deskNormal {left: 11em;}
      }

      .switch input {display:none !important;}

      .slider {
        width: 4em !important;
        height: 1.8em;
        position: absolute;
        cursor: pointer;
        border: none;
        top: 4.1em !important;
        left: 0.5em;
        right: 0;
        bottom: 0;
        background-color: #7f4cd0;
        -webkit-transition: .4s;
        transition: .4s;
         border-radius: 34px;
         @include tablet{left: 1em !important;}
         @include deskNormal{ width: 4em; height: 2em;};
         @include deskGrande{ width: 3em;top: 5.2em !important;left: 4.5em;}
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        @include tablet{width: 20px;height: 20px;}
      }

      input:checked + .slider {
        background-color:  #0a3c8e;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px  #0a3c8e;
      }
      input:checked + .slider:before {
	        -webkit-transform: translateX(33px) !important;
	        -ms-transform: translateX(26px);
	        transform: translateX(36px);
          @include tablet{-webkit-transform: translateX(30px) !important;
            -ms-transform: translateX(26px);
  	        transform: translateX(36px);

          };
	      }

      /*------ ADDED CSS ---------*/
      .slider:after
      {
       content:'Ha';
       color: white;
       display: block;
       position: absolute;
       transform: translate(-50%,-50%);
       top: 50%;
       left: 65%;
       font-size: 15px;
       font-family: 'Open Sans';
      }

      input:checked + .slider:after
      {
        content:'m2';
        left: 33%;
      }
      .left{top:57em !important;padding: 2%;position: relative;}

  }
  .borde-caracteristicas-map{
    top:1em;
    position: relative;
    @include tablet{top: 2em;};
    @include deskNormal{top: 0em;};
    iframe{
      width: 100%;height: 20em;
      @include tablet{width: 100%;height: 25em;};
      @include deskNormal{width: 57em !important;height: 42.3em;};
      @include deskGrande{width: 75em !important;height: 41.8em;};
      @include deskExGrande{width: 89em !important;};
    }
  }
}
.content2{
  @include tablet{height: 0;};
  @include deskNormal{position: relative;top: 2em;display: flex;flex-direction: row;flex-wrap: nowrap;width: 75em;margin:0 auto;height: auto !important;};
  @include deskGrande{width: 93em;};
  @include deskExGrande{width: 108em;};
}
.borde {
  width: 240px;
  height: 50px;
  border-left: 2px solid #084fc3;
  border-right: 2px solid #7f4cd0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  background-position: 0 0, 0 100% ;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  background-size: 100% 2px;
  background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
  background-image: -webkit-linear-gradient(left, #084fc3 0%, #7f4cd0 100%), -webkit-linear-gradient(left, #084fc3 0%, #7f4cd0 100%);
  background-image: -moz-linear-gradient(left, #084fc3 0%, #7f4cd0 100%), -moz-linear-gradient(left, #084fc3 0%, #7f4cd0 100%);
  background-image: -o-linear-gradient(left, #084fc3 0%, #7f4cd0 100%), -o-linear-gradient(left, #084fc3 0%, #7f4cd0 100%);
  background-image: linear-gradient(to right, #084fc3 0%, #7f4cd0 100%), linear-gradient(to right, #084fc3 0%, #7f4cd0 100%);
  @include deskGrande {height: 65px;}



  &-caracteristicas-desc{
    position: relative;
    top: 8em;
    @include tablet{top: -17em!important;left: 3em;position: relative;width: 0em;}
    @include deskNormal{top: 2em !important;left: 0;position: initial;width: 58em;}
    @include deskGrande{width: 86em;};
    @include deskExGrande{width: 100em;};
    .errorOn{top: 0em;@include tablet{top:-31em;};}
    div{top: -4em !important;position: relative;
      @include tablet{top: 4.5em !important;left: 25.3em !important;width: 10em;}
        @include deskNormal{top: 0em !important;left:0 !important;width: 56.9em;}
        @include deskGrande{width: 75em;};
        @include deskExGrande{width: 89em;};

        p{font-family: 'Open Sans';font-size: 1em;font-weight: 100;width: 17em;display: block;margin:0 auto;position: relative;height: 2em;padding: 2%;
          border-left: 2px solid #0a3c8e;
          border-right: 2px solid #7f4cd0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #fff;
          background-position: 0 0, 0 100% ;
          background-repeat: no-repeat;
          -webkit-background-size: 100% 20px;
          -moz-background-size: 100% 20px;
          background-size: 100% 2px;
          background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
          background-image: -webkit-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -webkit-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
          background-image: -moz-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -moz-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
          background-image: -o-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -o-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
          background-image: linear-gradient(to right, #0a3c8e 0%, #7f4cd0 100%), linear-gradient(to right, #0a3c8e 0%, #7f4cd0 100%);
          @include tablet{width: 20em;padding: 1%;display: block!important; margin: 0;left:-4.3em;text-align: left;top: -22.5em;}
          @include deskNormal{width: 100%;padding: 0.5%;top: 0;left: 0;}
          @include deskExGrande{height: 2.5em;padding: 0.6%;width: 89em;}
        }
        textarea{background-color: #efefed;border: none;position: relative;display: block;margin: 0 auto;width: 17em;height: 10em;
          @include tablet{width: 19.9em;height: 9em;left: -4.3em;top: -22.5em;}
          @include deskNormal{width: 56.9em;left: 0;top: 0;height: 11em;}
          @include deskGrande{width: 75em;height: 11em;}
          @include deskExGrande{width: 89em;height: 11em;}
        }
        .errorOn{@include deskNormal{width: 13em;top: 18.2em;margin-left: -8em;}
                  @include deskExGrande{margin-left: -7em;font-size: 0.9em;top: 14.3em;};
        }
        div{position: relative;top: 1em!important;
          @include tablet{left: -11.9em !important;top: 0em !important;width: 18.1em !important;height: 0em;}
          @include deskNormal{height: 2em;left: 0 !important;top:1em!important;width: 18.96em;}
          @include deskExGrande{width: 29.66em !important;};
          p{display: block;position: relative;margin: 0 auto;
            @include tablet{top: -21.5em;left: -10.92em;width: 18em;}
            @include deskNormal{left: 0;width: 28.45em;top: 0;}
            @include deskGrande{width: 37.5em;}
            @include deskExGrande{width: 44.5em;padding: 2%;height: 2.5em;}
            img{width: 2em;top: -0.3em;left: 2em;
              @include tablet{top: 0.1em;left: 23em;width: 2em;z-index: 9;}
              @include deskNormal{position: relative;width: 1.8em;z-index: 9;left: 15em;top: -1.2em;display: block;}
              @include deskGrande{left: 21em;}
              @include deskExGrande{width: 2em;left: 25em;}
            }
          }
          p:nth-child(2){
            top: 9em;
            @include tablet{top: -23.5em;left: 7.4em;width: 20em;}
            @include deskNormal{top: -2em;left: 28.4em;width: 28.45em;}
            @include deskGrande{left: 37.5em; width: 37.5em;top: -2em;}
            @include deskExGrande{width: 44.5em;left: 44.4em;top: -2.5em;}
          }p:nth-child(3){
            top: 20em;
            @include tablet{top: -24em;left: 7.5em;width: 20em;}
            @include deskNormal{top: -4em;left: 37.86em;width: 18.96em;}
            @include deskGrande{left: 50em; width: 25em;top: -4em;}
            @include deskExGrande{width: 29.66em;left: 59.3em;top: -5em;}
          }

          .contact{background-color: #efefed;top: -2em!important;width: 17em;position: relative;display: block;margin:0 auto;height: 7em;padding: 2%;
            @include tablet{left: -11em !important;width: 18em !important;height: 8em;top: -23.5em !important;}
            @include deskNormal{left: 0!important;top: -2em !important;height: 11em;width: 28.45em !important;padding: 6%;}
            @include deskGrande{width: 37.5em!important;top: -2em !important;height: 11.5em !important; }
            @include deskExGrande{width: 44.5em!important;top: -2.5em !important;padding: 5%;}

            span{font-family: 'Open Sans';font-weight: 100;font-size: 0.8em;
              @include deskExGrande{font-size: 1em;}
              input{border: none;border-radius: 15px;width: 13em;display: inline-block;
                @include deskNormal{width: 12em;}
                @include deskGrande{width: 19em;}
                @include deskExGrande{width: 18em;}
              }

            }
            article{@include deskExGrande{top: 0.5em;position: relative;}}
            span:nth-child(2){top: -0.5em;position: relative;font-size: 0.8em;
              @include deskNormal{top: 0.5em;margin-left: 3em !important;}
              @include deskGrande{top:0.5em;position: relative;display: block;text-align: left;}
              @include deskExGrande{font-size: 1em;text-align: left;position: relative;display: block;}
              input{left: 2em;width: 8.5em;
                @include deskGrande{width: 18.3em;}
                @include deskExGrande{width: 14.9em;}
              }

            }

          }
          .price{
            background-color: #efefed;top: 2em !important;width: 17em;height: 8em;padding: 4%;position: relative;display: block;margin: 0 auto;
            @include tablet{top: -31.5em !important;left: 7.5em !important;width: 20em !important;}
            @include deskNormal{top: -13em !important;left:28.4em!important; height: 11em;width: 28.45em!important;}
            @include deskGrande{width: 37.5em!important;left: 37.4em !important;top: -13.5em !important;height: 11.5em !important;}
            @include deskExGrande{width: 44.5em!important;left: 44.3em !important;top: -14em !important;padding: 0%;}
            .errorOn{margin-top: 2em;font-size: 0.65em;
              @include tablet{top: -2em;};
              @include deskNormal{position: absolute !important;left: 15em;top: 1.5em;};
              @include deskExGrande{margin-left: -2em;margin-top: 2.5em;font-size: 0.9em;};
            }
            article{text-align: center;}
            .priceType{
              span{text-align: center;
                @include deskNormal{top: 1em;position: relative};
                @include deskExGrande{top: 0;left: 2em;}
              }
              .switch{
                @include deskNormal{top: -1em;left: 12em;}
                @include deskGrande{top: 8em;left: 8em;}
                @include deskExGrande{top: 6.5em;left: 2em;}
                .switch {
                    position: absolute;
                    display: inline-block;
                    width: 61px;
                    height: 26px;
                    left: 12em;top: 0.5em;
                    @include deskNormal {left: 0 !important;}
                    @include deskGrande{top: 0.5em !important;left: 23em !important;}
                    @include deskExGrande {left: 19em;position: relative;top: -8.6em;}
                  }

                  .switch input {display:none !important;}

                  .slider {
                    width: 4em !important;
                    height: 1.5em !important;
                    position: absolute;
                    cursor: pointer;
                    border: none;
                    top: 5em !important;
                    left: -5.5em;
                    right: 0;
                    bottom: 0;
                    background-color: #7f4cd0;
                    -webkit-transition: .4s;
                    transition: .4s;
                     border-radius: 34px;
                     @include deskNormal{ width: 4em; height: 2em;left: 0 !important;top: 7em !important;};
                     @include deskGrande{ width: 3em;top: -2.25em !important;left: 8.5em !important;}
                     @include deskExGrande{left: -8em !important;width: 4.5em !important;top: -3.7em !important;height: 1.7em !important;}
                  }

                  .slider:before {
                    position: absolute;
                    content: "";
                    height: 20px;
                    width: 20px;
                    left: 4px;
                    bottom: 3px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                    @include deskGrande{width: 20px; height: 20px;}
                    @include deskExGrande{width: 23px; height: 23px;}
                  }

                  input:checked + .slider {
                    background-color:  #0a3c8e;

                  }

                  input:focus + .slider {
                    box-shadow: 0 0 1px  #0a3c8e;
                  }

                  input:checked + .slider:before {
                    -webkit-transform: translateX(38px) !important;
                    -ms-transform: translateX(26px);
                    transform: translateX(36px);
                  }

                  /*------ ADDED CSS ---------*/
                  .slider:after
                  {
                   content:'No';
                   color: white;
                   display: block;
                   position: absolute;
                   transform: translate(-50%,-50%);
                   top: 50%;
                   left: 65%;
                   font-size: 15px;
                   font-family: 'Open Sans';
                  }

                  input:checked + .slider:after
                  {
                    content:'Si';
                    left: 33%;
                  }
                span{font-family: 'Open Sans';font-weight: 100;
                  input{border: none;border-radius: 15px;
                    @include deskGrande{width: 18em;}
                    @include deskExGrande{width: 19em;}
                  }
                }
              }
            }
            .switch {
                position: absolute;
                display: inline-block;
                width: 61px;
                height: 26px;
                left: 12em;top: 0.5em;

                @include deskNormal {left: 11em;top: -2em;}
                @include deskGrande{left: 24em;top: 0.5em;};
                @include deskExGrande {position: relative;top: -7.4em;}
              }

              .switch input {display:none !important;}

              .slider {
                width: 4em !important;
                height: 1.5em !important;
                position: absolute;
                cursor: pointer;
                border: none;
                top: -2.3em !important;
                left: 0.5em;
                right: 0;
                bottom: 0;
                background-color: #7f4cd0;
                -webkit-transition: .4s;
                transition: .4s;
                 border-radius: 34px;
                 @include tablet{left: 3.5em !important;}
                 @include deskNormal{ width: 4em; height: 2em;left: 11.5em !important;top: 0.2em !important;};
                 @include deskGrande{ width: 3em;top: -2.25em !important;left: 8.5em !important;}
                 @include deskExGrande{left: 3em !important;width: 4.5em !important;top: 5.3em !important;height: 1.7em !important;}
              }

              .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 3px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
                @include deskGrande{width: 20px; height: 20px;}
                @include deskExGrande{width: 23px; height: 23px;}
              }

              input:checked + .slider {
                background-color:  #0a3c8e;
              }

              input:focus + .slider {
                box-shadow: 0 0 1px  #0a3c8e;
              }

              input:checked + .slider:before {
                -webkit-transform: translateX(38px) !important;
                -ms-transform: translateX(26px);
                transform: translateX(36px);
              }

              /*------ ADDED CSS ---------*/
              .slider:after
              {
               content:'USD';
               color: white;
               display: block;
               position: absolute;
               transform: translate(-50%,-50%);
               top: 50%;
               left: 65%;
               font-size: 15px;
               font-family: 'Open Sans';
              }

              input:checked + .slider:after
              {
                content:'MXN';
                left: 33%;
              }
            span{font-family: 'Open Sans';font-weight: 100;
              input{border: none;border-radius: 15px;
                @include deskGrande{width: 18em;}
                @include deskExGrande{width: 19em;}
              }
            }
            a{
              background-color: #7f4cd0;
              color: white;
              font-size: 0.7em;
              width: 10em;
              padding: 2%;
              top: 4em;
              position: relative;
              display: block;
              margin:0 auto;
              left: 0;
              border-radius: 20px;
              text-align: center;
              font-family: 'Open sans';
              @include deskNormal{left: 0em;font-weight: 600;top: 6em;}
              @include deskExGrande{top: 4em;width: 18em;}
            }
          }
          button{
            top: auto;
            display: block;
            position: relative;
            width: 4em;
            border-radius: 15px;
            border: none;
            background-color: #0a3c8e;
            color: white;
            cursor: pointer;
            @include tablet{left: 1em;}
            @include deskNormal{top: 5.7em;}
            @include deskGrande{top: 5em;}
            @include deskExGrande{top: 4.5em;left: 7em;}
          }
        }
    }
  }

}
.linkModal{top: 39em;position: relative;top: 39em;text-align:center;display: block;
  @include tablet{top: 14em;}
  @include deskNormal{top: -4em;}
}
.caracteristicas-two{
  border-left: 2px solid #0a3c8e;
  border-right: 2px solid #7f4cd0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  background-position: 0 0, 0 100% ;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  background-size: 100% 2px;
  background-image  : url('https://cdn.pixabay.com/photo/2017/06/20/14/55/icon-2423351_960_720.png');
  background-image: -webkit-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -webkit-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
  background-image: -moz-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -moz-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
  background-image: -o-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%), -o-linear-gradient(left, #0a3c8e 0%, #7f4cd0 100%);
  background-image: linear-gradient(to right, #0a3c8e 0%, #7f4cd0 100%), linear-gradient(to right, #0a3c8e 0%, #7f4cd0 100%);
  position: relative;width: 17em;position: relative;display: block;margin: 0 auto;top: 3em !important;padding: 2%;
  @include tablet{left: 10em;top: -36em !important;width: 20em;text-align: left !important;padding: 1%;}
  @include deskNormal{top: 0em !important;width: 17em;left: 0.3em;margin-right: 1em;}
  @include deskGrande{width: 19em;}
  @include deskExGrande{width: 18.6em;margin-right: 2em;}
  p{font-weight: 100;font-family: 'Open Sans';font-size: 0.9em;}
  label{display: block;font-family: 'Open Sans';font-weight: 100;
    @include tablet{line-height: 2em;}
  }
  button{background-color: #0a3c8e;width: 4.5em;border: none;border-radius: 25px;color: white;position: relative;left: 11em;height: 2em;
    @include deskGrande{width: 3em;height: 1.3em;font-size: 1.3em;left: 8em;}
    @include deskExGrande{width: 4em;height: 1.8em;font-size: 1.3em;left: 8em;};
  }
}

.inmueble{
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-position-y: inherit;
  background-image: url("../sass/image/cabezal_desk1.png");
  @include deskNormal{background-size: 100%;};

  h1{
    font-family: 'Open Sans';font-size: 1.7em;text-align: center;width: 100%;position: relative;top: 5em;display: block;margin:0 auto;font-weight: 100;
    @include tablet {width: 19em;font-size: 2em;top: 4em;}
    @include deskNormal {font-size: 3em;}
    @include deskGrande {font-size: 4em;}
    @include deskExGrande {font-size: 5em;}
    b{
      font-family: $nexa;
      font-weight: 800;
    }
  }
  .selectCaracteristicas{top: 0em;
    @include tablet{display: flex;flex-wrap: wrap;width: 34em;margin: 0 auto;top: 0em;}
    @include deskNormal{width: 75em;flex-wrap: nowrap;}
    @include deskGrande{width: 93em;}
    @include deskExGrande{width: 108em;}
    .errorOn{@include tablet{top:0em;}
      @include deskNormal{position: relative;}
    }
  }
  &-div{
    position: relative;top: 9em;
    @include tablet {position: relative;display: block;text-align: center;top: 12em;}
    @include deskNormal {top: 13em;}
    @include deskGrande {top: 16em;}
    @include deskExGrande {top: 21em;}
    select{
      font-family: 'Open Sans';font-weight: 100;width: 17em;display: block;margin: 0 auto;position: relative;margin-bottom: 1em;
      @include tablet {margin-bottom: 0;display: inline-block;}
      @include deskNormal {width: 15em;}
      @include deskGrande {width: 14.3em;font-size: 1.3em;}
      @include deskExGrande {width: 15.46em;font-size: 1.4em;}
    }
    select:nth-child(5){position: relative;
    }
  }
  .datos{
    position: relative;height: 19em;width: 17em;display: block;margin: 0 auto;padding: 0 3%;
    background: rgba(10,60,142,1);
    background: -moz-linear-gradient(left, rgba(10,60,142,1) 0%, rgba(127,76,208,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,60,142,1)), color-stop(100%, rgba(127,76,208,1)));
    background: -webkit-linear-gradient(left, rgba(10,60,142,1) 0%, rgba(127,76,208,1) 100%);
    background: -o-linear-gradient(left, rgba(10,60,142,1) 0%, rgba(127,76,208,1) 100%);
    background: -ms-linear-gradient(left, rgba(10,60,142,1) 0%, rgba(127,76,208,1) 100%);
    background: linear-gradient(to right, rgba(10,60,142,1) 0%, rgba(127,76,208,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3c8e', endColorstr='#7f4cd0', GradientType=1 );
    @include tablet {top: 1em;height: 13em;width: 34em;}
    @include deskNormal {padding-top: 1%;height: 6em;top: 1em;width: 75em;background-repeat: no-repeat;background-size: cover;}
    @include deskGrande {width: 93em;height: 7em;}
    @include deskExGrande {width: 108em;height: 8em;top: 1em;}
    .errorOn{@include tablet{margin-left: 2em;width: 13em;margin-top: -0.5em;}
      @include deskNormal{left: 3em; top: 7.5em;}
    }
    aside{height: 4em;
      @include tablet{height: 13em;width: 100%;display: flex;flex-wrap: wrap;}
      @include deskNormal{flex-wrap: nowrap};
      div{width: 100%;
        @include tablet{width: 45%;};
      input{width: 100%;}
      }
    }
    div{position: relative; top: 1em;padding: 2%;width: -1em;color: #fff;
      @include tablet {width: 1em;}
      @include deskNormal {top: -1em;left: -2em;}
      @include deskGrande{font-size: 1.2em;}
      @include deskExGrande{font-size: 1.3em;}
      p{
        font-family: 'Open Sans';
        font-weight: 500;left: 0.4em;position: relative;width: 8em;
        @include tablet {font-weight: 100;}
      }
      select{
        border-radius: 13px !important;margin: 0 auto;
        position: relative;display: block;width: 14.5em;background-color: white;
        @include tablet {width: 13em;height: 2em;left: 1em;border-radius: 20px;font-weight: 100;}
        @include deskNormal {border-radius: 25px;border: none;width: 16em;}
        @include deskGrande {width: 12.3em;}
        @include deskExGrande {font-size: 1em;width: 17em;}
      }
      input{bottom:1em;position: relative;border: none;border-radius: 15px;margin: 0 auto;height: 2em;width: -webkit-fill-available;display: block;z-index: 999;
        @include tablet{width: 12em;}
      }
    }
    .switch {
        position: absolute;
        display: inline-block;
        width: 61px;
        height: 26px;
        left: 11.5em;top: 0em;
        @include tablet{left: 9.5em;}
        @include deskNormal {left: 11em;top: 1.5em;}
      }

      .switch input {display:none;}

      .slider {
        width: 5.5em;
        height: auto;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: -2em;
        right: 0;
        bottom: 0;
        background-color: #7f4cd0;
        -webkit-transition: .4s;
        transition: .4s;
         border-radius: 34px;
         @include tablet{left: -0.5em;}
         @include deskNormal{ left: 0;width: 5.5em; height: 1.6em;top: -0.5em;};
         @include deskGrande{ width: 3.5em;height: 1em;};
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 20px !important;
        width: 20px !important;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        @include deskGrande{width: 25px; height: 25px;};
      }

      input:checked + .slider {
        background-color: #0a3c8e;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #0a3c8e;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(59px) !important;
        -ms-transform: translateX(26px);
        transform: translateX(36px);
      }

      /*------ ADDED CSS ---------*/
      .slider:after
      {
       content:'Invisible';
       color: white;
       display: block;
       position: absolute;
       transform: translate(-50%,-50%);
       top: 50%;
       left: 65%;
       font-size: 15px;
       font-family: 'Open Sans';
      }

      input:checked + .slider:after
      {
        content:'Visible';
        left: 33%;
      }
      .two{top: 0em;
        @include tablet{top: 1em;};
        @include deskNormal{top: -1em;};
        p{@include tablet{left: -1.5em;}}

      }
      .three{top: -1em;
      }
      .four{top: -2em;
        @include tablet{top: -1em;};
      }
  }
}


.sliderRange {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background-image: url("../sass/image/linea_range.png");
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderRange:hover {
    opacity: 1;
}

.sliderRange::-webkit-slider-thumb {
    -webkit-appearance: button;
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-image: url("../sass/image/punto_seccion.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.sliderRange::-moz-range-thumb {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 5%;
    background: #fff;
    cursor: pointer;
}
.modal-error-lat{
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  &-background{background-color: black;opacity: 0.8;position: fixed !important;top: 0 !important;left: 0;right: 0;bottom: 0;}
  &-content{height: 67%;width: 60%;display:block;margin: 0 auto;background-color: white;box-sizing: border-box;padding: 2em;text-align: center;top: 9em!important;vertical-align: middle;
    button{top: 8em;position: relative;cursor: pointer;background-color: #7f4cd0;width: 10em;display: block;font-family: 'Open Sans';border:none;margin-top: 1em;color: white;font-weight: 100;font-size: 1em;
      @include tablet{width: 13em;padding: 0.5em;margin: 0 auto;top: 4em;}
    }
  }
  &-content{width: 60%;height: 67%;display:block;margin: 0 auto;background-color: white;box-sizing: border-box;padding: 2em;text-align: center;top: 9em!important;vertical-align: middle;
    div{top: 0em;}
    h1{top: 0em !important;
      text-align: center;font-family: 'Nexa';top: 2em;
      @include tablet{width: 13em;};
    }

    a{color: white !important;font-size: 1.5em !important;font-weight: 600 !important;width: 10em;top: 3em !important;background-color: #7f4cd0;padding: 2%;margin: 0 auto;width: 11em;display: block;font-family: 'Open Sans';border:none;color: white;font-weight: 100;font-size: 1em;position: relative;
      @include tablet{top:2em;};
      @include deskNormal{top: 4em;};
      @include deskGrande{width: 12em;top: 6em;};
      @include deskExGrande{width: 12em;top: 8em;};
    }
  }
}

.static--form-images{
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  &-background{background-color: black;opacity: 0.8;position: fixed !important;top: 0 !important;left: 0;right: 0;bottom: 0;}
  &-content{height: 67%;width: 60%;display:block;margin: 0 auto;background-color: white;box-sizing: border-box;padding: 2em;text-align: center;top: 9em!important;vertical-align: middle;
    button{top: 8em;position: relative;cursor: pointer;background-color: #7f4cd0;width: 10em;display: block;font-family: 'Open Sans';border:none;margin-top: 1em;color: white;font-weight: 100;font-size: 1em;
      @include tablet{width: 13em;padding: 0.5em;margin: 0 auto;top: 4em;}
    }
    div{@include deskNormal{top: 0!important}}
    .images{top: -4em !important;width: 17em;position: relative;height: 11em;
      @include tablet{width:18em !important;left: -11.1em!important;}
      @include deskNormal{left: 0em !important;width: 18.96em !important;top:0 !important;}
      @include deskGrande{width: 25em !important;top: -4em !important;height: 11.5em !important;padding-top:5%;}
      @include deskExGrande{width: 29.66em !important;left: 0em !important;top: -5em !important;padding-top:5%; }

      .FileUpload{margin:0 auto;
        @include tablet{width: 200px !important;top: 0em !important;left: 12em !important;}
        @include deskNormal{margin: 0 auto;left: 0 !important;top: 2em !important;}
        @include deskGrande{top: 7em !important;position: relative;}
        div{height: 150px !important;margin:0 auto;position: relative;width: 11em !important;left: -4em !important;top: 5em !important;
          @include tablet{width: 200px !important;left: 2em !important;}
          @include deskNormal{left: -5em !important;}
          div{top: 0em !important;left: 0.2em !important;
            @include tablet{left: 0em!important;width: 200px !important;}
            @include deskNormal{width: 325px !important;}
            .imagePreview{
              @include deskNormal{width: 50% !important;}
            }
          }
        }
        .nombreImagenes{
          @include deskNormal{left: 17em !important;position: relative;top: -4.5em !important;}
          div{
            @include deskNormal{top: 4em !important;position: relative;};
          }
        }
      }
      button{background-color: #fff;color: black;font-size: 1em;padding: 0.5em;border-radius: 15px;font-family: 'Open Sans';font-weight: 100;top: 1em;position: relative;left: 1em;display: inline-block;width: 7em;height: 7em;
          @include tablet{left: -0.5em;}
          @include deskNormal{font-size: 1.3em;width: 3.6em;height: 3.6em;left: 1em;}
          @include deskGrande{font-size: 2em;top: 0.4em;width: 3em;height: 3em;}
          @include deskExGrande{font-size: 2.3em;width: 2.8em;height: 2.8em;left: 0.5em;}
      }
      button:nth-child(2){
        left: 2em;
        @include tablet{left: 1em;}
        @include deskNormal{left: 1.5em;}
        @include deskExGrande{left: 1.2em;}
      }
      button:nth-child(3){
          display: none !important;
          @include deskNormal{left: 2em;display: inline-block !important;}
          @include deskExGrande{left: 1.8em;}
      }
      .submit{
        // background-color: #0a3c8e;width: 4.5em;border: none;border-radius: 15px;color: white;position: relative;left: 11em;height: 2em;top: 1.5em;padding: 1%;
        // @include tablet{left: 5em;top: 1.5em;}
        // @include deskNormal{left: -0.5em;top: 4.5em;width: 3em;height: 1em;z-index: 9;padding-bottom: 1.5em;padding-top: 0em;border-radius: 25px;}
        // @include deskGrande{top: 3em;left: -1em;}
        // @include deskExGrande{top: 3.2em;z-index: 9;height: 0.8em;font-size: 1.8em;width: 3.5em;}
        display: none;
      }
    }
    .buttonPublicar{background-color: #7f4cd0;width: 10em;display: block;margin:0 auto;font-family: 'Open Sans';border:none;color: white;font-weight: 100;font-size: 1em;top: 10em;position: relative;color: white !important;
      @include tablet{top: 5em;};
      @include deskNormal{top: 12em;};
      @include deskGrande{top: 10em;width: 9em;font-size: 2em;};
    }
  }
}
.static--form-success{
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  &-background{background-color: black;opacity: 0.8;position: fixed !important;top: 0 !important;left: 0;right: 0;bottom: 0;}
  &-content{width: 60%;height: 67%;display:block;margin: 0 auto;background-color: white;box-sizing: border-box;padding: 2em;text-align: center;top: 9em!important;vertical-align: middle;
    h1{top: 1em;
      text-align: center;font-family: 'Nexa';top: 2em;
      @include tablet{width: 13em;};
    }
    a{background-color: #7f4cd0;width: 11em;display: block;margin:0 auto;font-family: 'Open Sans';border:none;color: white;font-weight: 100;font-size: 1em;top: 10em;position: relative;
      @include tablet{width: 13em;padding: 0.5em;margin: 0 auto;top: 9em;}
      @include deskNormal{position: relative;top: 15em;};
      @include deskGrande{top: 16em;};
      @include deskExGrande{top: 17em;};
    }
    button{width: 10em;top: 4em;background-color: #7f4cd0;padding: 2%;margin: 0 auto;width: 11em;display: block;font-family: 'Open Sans';border:none;color: white;font-weight: 100;font-size: 1em;position: relative;
      @include tablet{top:2em;};
      @include deskNormal{top: 4em;};
      @include deskGrande{width: 12em;top: 6em;};
      @include deskExGrande{width: 12em;top: 8em;};

    }

    }
  }

.section{display: block;}
.content{
  @include deskNormal{display: flex !important;top: 2em!important;position: relative;};}
.deleted{display: none;}
#myForm{height: 176em;
  @include tablet{height: 122em;};
  @include deskNormal{height: 104em;};
  @include deskGrande{height: 110em;};
  @include deskExGrande{height: 120em;};
}
