.card {
    position: absolute;
    top: 12em;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 350px;
    background: #F6F5F5;
    overflow: hidden;
    margin-bottom: 1em;
    @include tablet{margin-right: 0.5em;left: 31%;top:14em;};
    @include deskNormal{top:17em;width: 350px;height: 400px;margin-right: 4.5em;margin-bottom: 3em;};
    @include deskExGrande{width: 450px;height: 500px;};
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 96%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
    top: 0.7em !important;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
  width: 74%;
  position: relative;
  top: 1em;
  margin: 0 auto;
  display: block;
}
.card .imgBx h1 {
  position:relative;
  top:1.5em;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open sans';
  font-size: 1.8em;
}
.card .details {
    background: #F6F5F5;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}
.card:hover .details {
    top: 0;
    left: 0%;
}
.card .details h2 {
    color: black;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}
.card .details p {
    margin: 20px 0 0;
    color: black;
}
.background-static{
  background-repeat:no-repeat;position: relative;height: 100em;background-size: 100%;width: 100%;background-image: url("../sass/image/cabezal_desk.png");
  @include tablet{height: 64em;};
  @include deskNormal{height: 79em;};
  .services-content{
    top: 7em;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tablet{flex-direction: row;top: 12em;};
    @include deskNormal{width: 71%;margin: 0 auto;};
    @include deskGrande{top: 16em};
    @include deskExGrande{top: 23em;};
  }
}
