.static-pages{
  width: 90%;margin:0 auto;top: 10em;position: relative;font-family: 'Open sans';
  @include deskNormal{top:18em;};
  @include deskGrande{top:20em;};
  @include deskExGrande{top:22em;};
  h1{font-weight: 100;}
}
